﻿
@{
    ViewBag.Title = "Login";
    Layout = null;
}

@using System.Web.Configuration;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title - @WebConfigurationManager.AppSettings["S_SYSName"]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/tether/css/tether.min.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/common.min.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/pages/auth.min.css">
    <link href="~/StyleSheet1.css" rel="stylesheet" />
</head>
<body ng-app="PMS">
    <div class="ks-page">
        @*<div class="ks-header">
            <a href="#" class="ks-logo">@WebConfigurationManager.AppSettings["SystemName"]</a>
        </div>*@
        
        <div class="ks-body" ng-controller="Login">
            @*<div class="ks-logo">@WebConfigurationManager.AppSettings["SystemName"]</div>*@
            <div class="ks-logo">
                <img src="~/Theme/assets/img/logo-pms.png" />
            </div>
            <div class="card panel panel-default ks-light ks-panel">
                <div class="card-block">
                    <form name="FmLogin" novalidate class="form-container">
                        <h4 class="ks-header">Login</h4>
                        <div class="form-group">
                            <div class="input-icon icon-left icon-lg icon-color-primary">
                                <input type="text" ng-model="User.UserName" class="form-control" placeholder="Username">
                                <span class="icon-addon">
                                    <span class="fa fa-at"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon icon-left icon-lg icon-color-primary">
                                <input type="text" ng-model="User.Password" class="form-control" placeholder="Password">
                                <span class="icon-addon">
                                    <span class="fa fa-key"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" ng-click="Validate(User)" class="btn btn-primary btn-block">Login</button>
                        </div>

                        <div class="ks-text-center">
                            Remember me
                            <label class="ks-checkbox-slider ks-on-off ks-solid ks-danger">
                                <input type="checkbox" ng-model="User.RememberMe" ng-checked="User.RememberMe" value="">
                                <span class="ks-indicator"></span>
                                <span class="ks-on">Y</span>
                                <span class="ks-off">N</span>
                            </label>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="ks-footer">
            <span class="ks-copyright">&copy; @DateTime.Now.Year @WebConfigurationManager.AppSettings["SystemName"]</span>
            <ul>
                <li>
                    <a href="http://www.nexelservices.com/">Privacy Policy</a>
                </li>
                <li>
                    <a href="http://www.nexelservices.com/contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    @Scripts.Render("~/bundles/angular")
    @*@Scripts.Render("~/bundles/jquery")*@
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/jquery/jquery.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/tether/js/tether.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>

    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/custom-scripts/App.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/custom-scripts/Auth/Auth.js"></script>
</body>
</html>


