﻿.lds-hourglass {
    position: relative;
   
    top: 50%;
    /* z-index: 9999; */
    left: 48%;
}

    .lds-hourglass:after {
        content: " ";
        display: block;
        border-radius: 50%;
        width: 0;
        height: 0;
        margin: 6px;
        box-sizing: border-box;
        border: 42px solid #fcf;
        border-color: #f3009d transparent #3a529b transparent;
        animation: lds-hourglass 1.2s infinite;
    }

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}

.loader-container {
    background: #b1b1b199;
    display:none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
