﻿img-crop {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden
}

    img-crop canvas {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        outline: 0;
        -webkit-tap-highlight-color: transparent
    }
