﻿<form name="AG_form">
    <div class="row">
        <div class="col-lg-12">
            <div class="card panel panel-default panel-table">
                <h5 class="card-header text-center">
                     {{EmployeePractices.PracticeName}}
                </h5>

                <div class="card-block">
                    <table class="table  table-bordered table-striped">
                        <thead>
                            <tr>

                                <th>0-30</th>
                                <th>31-60</th>
                                <th>61-90</th>
                                <th>91-120</th>

                                <th>120+</th>
                                <th>Total</th>
                                <th>Issues of 120+ Claims</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )" class="input-group">

                                        <input ng-init="Aging.A_30 = 0" ng-class='{"error-field" : AG_form.f_a30.$error.pattern }' name="f_a30" ng-model="Aging.A_30" ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control">
                                       
                                    </div>

                                </td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )" class="input-group">

                                        <input  ng-init="Aging.A_60 = 0" ng-class='{"error-field" : AG_form.f_a60.$error.pattern }' name="f_a60" ng-model="Aging.A_60" ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control">
                                       
                                    </div>
                                </td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )" class="input-group">

                                        <input ng-init="Aging.A_90 = 0" name="f_a90" ng-class='{"error-field" : AG_form.f_a90.$error.pattern }' ng-model="Aging.A_90" ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control">
                                       
                                    </div>
                                </td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )" class="input-group">

                                        <input ng-init="Aging.A_120 = 0" name="f_a120" ng-class='{"error-field" : AG_form.f_a120.$error.pattern }' ng-model="Aging.A_120" ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control">
                                       
                                    </div>
                                </td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )" class="input-group">

                                        <input ng-init="Aging.A_120_up = 0" name="f_a120_up" ng-class='{"error-field" : AG_form.f_a120_up.$error.pattern }' ng-model="Aging.A_120_up" ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control">
                                       
                                    </div>
                                </td>
                                <td class="a-total">
                                        {{ Aging.A_30 -- Aging.A_60 -- Aging.A_90 -- Aging.A_120 -- Aging.A_120_up }} $
                                        
                                  
                                </td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )" class="input-group">

                                        <input name="f_issues_120_up" ng-class='{"error-field  " : AG_form.f_issues_120_up.$error.pattern}' ng-init="Aging.Issues_Of_120_Up_Claims = 0" ng-model="Aging.Issues_Of_120_Up_Claims" ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control">
                                       
                                    </div>
                                </td>

                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card text-center">
                <div class="card-block">

                    <div class="ks-items-block">

                        <button ng-disabled="!AG_form.$valid" ng-click="SaveAgings(Aging,EmployeePractices)" class="btn btn-success-outline ks-solid">Save</button>

                        <button ng-click="Cancel()" class="btn btn-warning-outline ks-solid">Cancel</button>

                    </div>

                </div>
            </div>
        </div>

    </div>
</form>