﻿<form name="a_form">
    <div class="row">
        <div class="col-lg-12">
            <div class="card panel panel-default panel-table">
                <h5 class="card-header text-center">
                    {{EmployeePractices.PracticeName}}
                </h5>
                <div class="card-block">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Assignments</th>
                                <th>Count</th>
                                <th>Assignments</th>
                                <th>Count</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Eligibility Claims</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.Eligibility = 0 " ng-model="Assignment.Eligibility" name="Eligibility" ng-class='{"error-field" : a_form.Eligibility.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>

                                </td>
                                <td>Received Bills</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.ReceivedBills = 0 " ng-model="Assignment.ReceivedBills" name="ReceivedBills" ng-class='{"error-field" : a_form.ReceivedBills.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Entered Claims</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.EnteredClaims = 0 " ng-model="Assignment.EnteredClaims" name="EnteredClaims" ng-class='{"error-field" : a_form.EnteredClaims.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>

                                </td>
                                <td>Pending Claims</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.PendingClaims = 0 " ng-model="Assignment.PendingClaims" name="PendingClaims" ng-class='{"error-field" : a_form.PendingClaims.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Paid Claims</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.PaidClaims = 0 " ng-model="Assignment.PaidClaims" name="PaidClaims" ng-class='{"error-field" : a_form.PaidClaims.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>Prepared Claims</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.PreparedClaims = 0 " ng-model="Assignment.PreparedClaims" name="PreparedClaims" ng-class='{"error-field" : a_form.PreparedClaims.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Prepared Encounters</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.PreparedEncounters = 0 " ng-model="Assignment.PreparedEncounters" name="PreparedEncounters" ng-class='{"error-field" : a_form.PreparedEncounters.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>Missing Log</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.MissingLog = 0 " ng-model="Assignment.MissingLog" name="MissingLog" ng-class='{"error-field" : a_form.MissingLog.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Emails</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.Emails = 0 " ng-model="Assignment.Emails" name="Emails" ng-class='{"error-field" : a_form.Emails.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td> QA </td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.QA  = 0 " ng-model="Assignment.QA " name="QA " ng-class='{"error-field" : a_form.QA .$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>


                            <tr class="active text-primary">

                                <td>Billing Analysis </td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.BillingAnalysis = 0 " ng-model="Assignment.BillingAnalysis" name="BillingAnalysis" ng-class='{"error-field" : a_form.BillingAnalysis.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td scope="row">Total</td>
                                <td>
                                    {{ Assignment.BillingAnalysis -- Assignment.Eligibility -- Assignment.ReceivedBills  -- Assignment.EnteredClaims -- Assignment.PendingClaims -- Assignment.PaidClaims -- Assignment.PreparedClaims -- Assignment.PreparedEncounters -- Assignment.MissingLog -- Assignment.QA   -- Assignment.Emails }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card text-center">
                <div class="card-block">

                    <div class="ks-items-block">

                        <button ng-disabled="!a_form.$valid" ng-click="SaveAssignmentsData(Assignment,EmployeePractices)" class="btn btn-success-outline ks-solid">Save</button>

                        <button ng-click="Cancel()" class="btn btn-warning-outline ks-solid">Cancel</button>

                    </div>

                </div>
            </div>
        </div>

    </div>
</form>
