﻿<form name="f_form">
    <div class="row">
        <div class="col-lg-12">
            <div class="card panel panel-default panel-table">
                <h5 class="card-header text-center">
                    {{EmployeePractices.PracticeName}}
                </h5>
                <div class="card-block">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Reports</th>
                                <th>Amount</th>
                                <th>Reports</th>
                                <th>Amount</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Entered Charge( Institutional)</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Financial.EnteredChargeI = 0 " ng-model="Financial.EnteredChargeI" name="EnteredChargeI" ng-class='{"error-field" : f_form.EnteredChargeI.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>Entered Charge( Professional)</td>

                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Financial.EnteredChargeP = 0 " ng-model="Financial.EnteredChargeP" name="EnteredChargeP" ng-class='{"error-field" : f_form.EnteredChargeP.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card text-center">
                <div class="card-block">

                    <div class="ks-items-block">

                        <button ng-disabled="!f_form.$valid" ng-click="SaveFinancials(Financial,EmployeePractices)" class="btn btn-success-outline ks-solid">Save</button>

                        <button ng-click="Cancel()" class="btn btn-warning-outline ks-solid">Cancel</button>

                    </div>

                </div>
            </div>
        </div>

    </div>
</form>