﻿<form name="C_form">
    <div class="row">
        <div class="col-lg-12">
            <div class="card panel panel-default panel-table">
                <h5 class="card-header text-center">
                     {{EmployeePractices.PracticeName}}
                </h5>
                <div class="card-block">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Assignments</th>
                                <th>Count</th>
                                <th>Assignments</th>
                                <th>Count</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Credentialing Calls</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Credentialing.CredentialingCalls = 0 " ng-model ="Credentialing.CredentialingCalls" ng-init="Credentialing.CredentialingCalls = 0 " name="CredentialingCalls" ng-class='{"error-field" : C_form.CredentialingCalls.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>

                                </td>
                                <td>Credentialing Documents</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Credentialing.CredentialingDocuments = 0 " ng-model ="Credentialing.CredentialingDocuments" name="CredentialingDocuments" ng-class='{"error-field" : C_form.CredentialingDocuments.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">EDI Calls</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Credentialing.EDICalls = 0 " ng-model ="Credentialing.EDICalls" name="EDICalls" ng-class='{"error-field" : C_form.EDICalls.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>EDI Setup</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Credentialing.EDISetup = 0 " ng-model ="Credentialing.EDISetup" name="EDISetup" ng-class='{"error-field" : C_form.EDISetup.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">ERA Calls</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Credentialing.ERACalls = 0 " ng-model ="Credentialing.ERACalls" name="ERACalls" ng-class='{"error-field" : C_form.ERACalls.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>ERA Setup</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Credentialing.ERASetup = 0 " ng-model ="Credentialing.ERASetup" name="ERASetup" ng-class='{"error-field" : C_form.ERASetup.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">EFT Calls</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Credentialing.EFTCalls = 0 " ng-model ="Credentialing.EFTCalls" name="EFTCalls" ng-class='{"error-field" : C_form.EFTCalls.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>EFT Setup</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Credentialing.EFTSetup = 0 " ng-model ="Credentialing.EFTSetup" name="EFTSetup" ng-class='{"error-field" : C_form.EFTSetup.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Web Logins</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Credentialing.WebLogins = 0 " ng-model ="Credentialing.WebLogins" name="WebLogins" ng-class='{"error-field" : C_form.WebLogins.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>Enrollment Tracking Sheet</td>

                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Credentialing.EnrollmentTrackingSheet = 0 " ng-model ="Credentialing.EnrollmentTrackingSheet" name="EnrollmentTrackingSheet" ng-class='{"error-field" : C_form.EnrollmentTrackingSheet.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Emails</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Credentialing.Emails = 0 " ng-model ="Credentialing.Emails" name="Emails" ng-class='{"error-field" : C_form.Emails.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="active text-primary">
                                <td scope="row">Total</td>
                                <td>
                                    {{ Credentialing.CredentialingCalls -- Credentialing.CredentialingDocuments -- Credentialing.EDICalls -- Credentialing.EDISetup -- Credentialing.ERACalls -- Credentialing.ERASetup -- Credentialing.EFTCalls -- Credentialing.EFTSetup -- Credentialing.WebLogins -- Credentialing.EnrollmentTrackingSheet -- Credentialing.Emails }}
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card text-center">
                <div class="card-block">

                    <div class="ks-items-block">

                        <button ng-disabled="!C_form.$valid" ng-click="SaveCredentials(Credentialing,EmployeePractices)" class="btn btn-success-outline ks-solid">Save</button>

                        <button ng-click="Cancel()" class="btn btn-warning-outline ks-solid">Cancel</button>

                    </div>

                </div>
            </div>
        </div>

    </div>
</form>