﻿<form name="a_form">
    <div class="row">
        <div class="col-lg-12">
            <div class="card panel panel-default panel-table">
                <h5 class="card-header text-center">
                    {{EmployeePractices.PracticeName}}
                </h5>
                <div class="card-block">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Assignments</th>
                                <th>Count</th>
                                <th>Assignments</th>
                                <th>Count</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Appeals</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="DME.Appeals = 0"  ng-model="DME.Appeals" name="Appeals" ng-class='{"error-field" : a_form.Appeals.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>Calls</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="DME.Calls = 0"  ng-model="DME.Calls" name="Calls" ng-class='{"error-field" : a_form.Calls.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Aging Claims</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="DME.AgingClaims = 0"  ng-model="DME.AgingClaims" name="AgingClaims" ng-class='{"error-field" : a_form.AgingClaims.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>Emails</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="DME.Emails = 0"  ng-model="DME.Emails" name="Emails" ng-class='{"error-field" : a_form.Emails.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Others</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="DME.Others = 0"  ng-model="DME.Others" name="Others" ng-class='{"error-field" : a_form.Others.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td scope="row"></td>
                                <td scope="row"></td>
                            </tr>


                            <tr class="active text-primary">
                                <td scope="row">Total</td>
                                <td colspan="2">
                                    {{DME.Appeals -- DME.Calls -- DME.AgingClaims -- DME.Emails -- DME.Others}}
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card text-center">
                <div class="card-block">

                    <div class="ks-items-block">

                        <button ng-disabled="!a_form.$valid" ng-click="SaveAssignmentsData(DME,EmployeePractices)" class="btn btn-success-outline ks-solid">Save</button>

                        <button ng-click="Cancel()" class="btn btn-warning-outline ks-solid">Cancel</button>

                    </div>

                </div>
            </div>
        </div>

    </div>
</form>