﻿<form name="a_form">


    <div class="row">
        <div class="col-lg-12">
            <div class="card panel panel-default panel-table">
                <h5 class="card-header text-center">
                     {{EmployeePractices.PracticeName}}
                </h5>
                <div class="card-block">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Assignments</th>
                                <th>Count</th>
                                <th>Assignments</th>
                                <th>Count</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Calls</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Eligibility.Calls = 0" ng-model="Eligibility.Calls" name="Calls" ng-class='{"error-field" : a_form.Calls.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>Web Verification</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Eligibility.WebVerification = 0" ng-model="Eligibility.WebVerification" name="WebVerification" ng-class='{"error-field" : a_form.WebVerification.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Faxed Verification</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Eligibility.FaxedVerification = 0" ng-model="Eligibility.FaxedVerification" name="FaxedVerification" ng-class='{"error-field" : a_form.FaxedVerification.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>Email Verificaiton</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Eligibility.EmailVerification = 0" ng-model="Eligibility.EmailVerification" name="EmailVerification" ng-class='{"error-field" : a_form.EmailVerification.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Others</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Eligibility.Others = 0" ng-model="Eligibility.Others" name="Others" ng-class='{"error-field" : a_form.Others.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td scope="row"></td>
                                <td scope="row"></td>
                            </tr>


                            <tr class="active text-primary">
                                <td scope="row">Total</td>
                                <td colspan="2">
                                    {{Eligibility.Calls -- Eligibility.WebVerification -- Eligibility.FaxedVerification -- Eligibility.EmailVerification -- Eligibility.Others }}
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card text-center">
                <div class="card-block">

                    <div class="ks-items-block">

                        <button ng-disabled="!a_form.$valid" ng-click="SaveAssignmentsData(Eligibility,EmployeePractices)" class="btn btn-success-outline ks-solid">Save</button>

                        <button ng-click="Cancel()" class="btn btn-warning-outline ks-solid">Cancel</button>

                    </div>

                </div>
            </div>
        </div>

    </div>
</form>