﻿<form name="f_form">
    <div class="row">
        <div class="col-lg-12">
            <div class="card panel panel-default panel-table">
                <h5 class="card-header text-center">
                     {{EmployeePractices.PracticeName}}
                </h5>
                <div class="card-block">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Reports</th>
                                <th>Amount</th>
                                <th>Reports</th>
                                <th>Amount</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Daily Charges</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )" class="input-group">
                                        <input ng-init="Financial.DailyCharges = 0" ng-model="Financial.DailyCharges" name="DailyCharges" ng-class='{"error-field" : f_form.DailyCharges.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control">
                                        <span class="input-group-addon">$</span>
                                    </div>
                                </td>
                                <td>Daily Payments</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )" class="input-group">
                                        <input ng-init="Financial.DailyPayments = 0" ng-model="Financial.DailyPayments" name="DailyPayments" ng-class='{"error-field" : f_form.DailyPayments.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control">
                                        <span class="input-group-addon">$</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">MTD Charges</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )" class="input-group">
                                        <input ng-init="Financial.MTDCharges = 0" ng-model="Financial.MTDCharges" name="MTDCharges" ng-class='{"error-field" : f_form.MTDCharges.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control">
                                        <span class="input-group-addon">$</span>
                                    </div>
                                </td>
                                <td>MTD Payments</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )" class="input-group">
                                        <input ng-init="Financial.MTDPayments = 0" ng-model="Financial.MTDPayments" name="MTDPayments" ng-class='{"error-field" : f_form.MTDPayments.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control">
                                        <span class="input-group-addon">$</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">30 + Aging Amount</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )" class="input-group">
                                        <input ng-init="Financial.AgingAmount = 0" ng-model="Financial.AgingAmount" name="AgingAmount_30_Up" ng-class='{"error-field" : f_form.AgingAmount_30_Up.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control">
                                        <span class="input-group-addon">$</span>
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card text-center">
                <div class="card-block">

                    <div class="ks-items-block">

                        <button ng-disabled="!f_form.$valid" ng-click="SaveFinancials(Financial,EmployeePractices)" class="btn btn-success-outline ks-solid">Save</button>

                        <button ng-click="Cancel()" class="btn btn-warning-outline ks-solid">Cancel</button>

                    </div>

                </div>
            </div>
        </div>

    </div>
</form>