﻿<form name="f_form">


    <div class="row">
        <div class="col-lg-12">
            <div class="card panel panel-default panel-table">
                <h5 class="card-header text-center">
                    {{EmployeePractices.PracticeName}}
                </h5>
                <div class="card-block">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Reports</th>
                                <th>Amount</th>
                                <th>Reports</th>
                                <th>Amount</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Daily Charges (ECW)</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )" class="input-group">
                                        <input ng-init="Financial.DailyChargesECW = 0" ng-model="Financial.DailyChargesECW" name="DailyCharges_ECW" ng-class='{"error-field" : F_form.DailyCharges_ECW.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control">
                                        <span class="input-group-addon">$</span>
                                    </div>
                                </td>
                                <td>Daily Payments (eTeClinic)</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )" class="input-group">
                                        <input ng-init="Financial.DailyPaymentseTeClinic = 0" ng-model="Financial.DailyPaymentseTeClinic" name="DailyPayments_eTeClinic" ng-class='{"error-field" : F_form.DailyPayments_eTeClinic.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control">
                                        <span class="input-group-addon">$</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Daily Payments (ECW)</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )" class="input-group">
                                        <input ng-init="Financial.DailyPaymentsECW = 0" ng-model="Financial.DailyPaymentsECW" name="DailyPayments_ECW" ng-class='{"error-field" : F_form.DailyPayments_ECW.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control">
                                        <span class="input-group-addon">$</span>
                                    </div>
                                </td>
                                <td>MTD Charges</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )" class="input-group">
                                        <input ng-init="Financial.MTDCharges = 0" ng-model="Financial.MTDCharges" name="MTDCharges" ng-class='{"error-field" : F_form.MTDCharges.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control">
                                        <span class="input-group-addon">$</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">MTD Payments (eTeClinic)</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )" class="input-group">
                                        <input ng-init="Financial.MTDPaymentseTeClinic = 0" ng-model="Financial.MTDPaymentseTeClinic" name="MTDPayments_eTeClinic" ng-class='{"error-field" : F_form.MTDPayments_eTeClinic.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control">
                                        <span class="input-group-addon">$</span>
                                    </div>
                                </td>
                                <td>MTD Payments (ECW)</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )" class="input-group">
                                        <input ng-init="Financial.MTDPaymentsECW = 0" ng-model="Financial.MTDPaymentsECW" name="MTDPayments_ECW" ng-class='{"error-field" : F_form.MTDPayments_ECW.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control">
                                        <span class="input-group-addon">$</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">30 + Aging Amount (eTeClinic)</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )" class="input-group">
                                        <input ng-init="Financial.AgingAmounteTeClinic = 0" ng-model="Financial.AgingAmounteTeClinic" name="AgingAmount_30_Up_eTeClinic" ng-class='{"error-field" : F_form.AgingAmount_30_Up_eTeClinic.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control">
                                        <span class="input-group-addon">$</span>
                                    </div>
                                </td>
                                <td>30+Aging Amount (eCW)</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )" class="input-group">
                                        <input ng-init="Financial.AgingAmounteCW = 0" ng-model="Financial.AgingAmounteCW" name="AgingAmount_30_Up_eCW" ng-class='{"error-field" : F_form.AgingAmount_30_Up_eCW.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control">
                                        <span class="input-group-addon">$</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card text-center">
                <div class="card-block">

                    <div class="ks-items-block">

                        <button ng-disabled="!f_form.$valid" ng-click="SaveFinancials(Financial,EmployeePractices)" class="btn btn-success-outline ks-solid">Save</button>

                        <button ng-click="Cancel()" class="btn btn-warning-outline ks-solid">Cancel</button>

                    </div>

                </div>
            </div>
        </div>

    </div>
</form>