﻿@section styles{
    <style>
        .form-control {
            height: 30px;
        }
    </style>
}
<div class="row">
    <div class="col-lg-12">
        <div class="ks-tabs-container ks-tabs-default ks-tabs-with-separator ks-tabs-header-default">
            <ul class="nav ks-nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#" data-toggle="tab" data-target="#phd">Patient Help Desk</a>
                </li>
                @*<li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="tab" data-target="#ppc">Patient Pending Calls</a>
                    </li>*@

            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="phd" role="tabpanel">
                    <form name="phd_form">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card panel panel-default panel-table">
                                    <h5 class="card-header text-center">
                                        {{EmployeePractices.PracticeName}}
                                    </h5>
                                    <div class="card-block">


                                        <table class="table table-responsive table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th @*style="
                                                            text-align: center;
                                                        word-wrap: break-word;
                                                        padding: 0;
                                                        font-size:11px
                                                        "*@></th>
                                                    @foreach (var assin in ViewBag.PHDAssignment as List<DailyProductivity.Models.PhdAssignments>)
                                                    {
                                                        <th style="
                                                            text-align: center;
                                                            word-wrap: break-word;
                                                            /* width: 10px !important; */
                                                            /* background: rebeccapurple; */
                                                            /* column-width: 1px; */
                                                            /* max-width: 84px; */
                                                            font-size: 11px;
                                                            min-width: 70px;
                                                            padding: 0;
                                                            margin: 0;
                                                        ">
                                                            @assin.AssignmentName
                                                        </th>
                                                    }


                                                </tr>
                                                <tr>
                                                    <td>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @foreach (var assin in ViewBag.PHDPractices as List<DailyProductivity.Models.Practices>)
                                                {

                                                    <tr style="padding:0">
                                                        <td style="
                                                                    text-align: start;
                                                                            padding-top: 20px;
                                                                            padding-bottom: 0;
                                                                            flex-wrap: wrap;
                                                                            word-wrap: break-word;
                                                                            padding-left: 0;
                                                                            padding-right: 0;
                                                                            font-size: 19px;
                                                                            color: #0a47ff;
                                                        ">
                                                            <span class="label label-primary">@assin.PracticeShortName</span>
                                                        </td>

                                                        @foreach (var p in ViewBag.PHDAssignment as List<DailyProductivity.Models.PhdAssignments>)

                                                        {

                                                            string modelName = "PatientHelpDesk['" + assin.PracticeID + "']['" + p.AssignmentShortName + "']";

                                                            <td style="padding:0;padding-top: 15px;padding-bottom:15px">

                                                                <input ng-init="@modelName = 0" ng-model="@modelName" name="@modelName" ng-class='{"error-field" : phd_form.@modelName.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                                            </td>

                                                        }

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card text-center">
                                    <div class="card-block">

                                        <div class="ks-items-block">

                                            <button ng-disabled="!phd_form.$valid" ng-click="SavePatientHelpDeskPHD(PatientHelpDesk)" class="btn btn-success-outline ks-solid">Save</button>

                                            <button ng-click="Cancel()" class="btn btn-warning-outline ks-solid">Cancel</button>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>
                @*<div class="tab-pane" id="ppc" role="tabpanel">
                        <form name="ppc_form">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card panel panel-default panel-table">
                                        <h5 class="card-header text-center">
                                            {{EmployeePractices.PracticeName}}
                                        </h5>
                                        <div class="card-block">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Status
                                                        </th>
                                                        <th>
                                                            UCMDS
                                                        </th>
                                                        <th>
                                                            ETC
                                                        </th>
                                                        <th>
                                                            MA
                                                        </th>
                                                        <th>
                                                            Webster
                                                        </th>
                                                        <th>
                                                            AUC
                                                        </th>
                                                        <th>
                                                            Total
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td scope="row">Pendings</td>

                                                        <td>
                                                            <input ng-init="PatientHelpDesk.Pendings_UCMDS = 0"  ng-model="PatientHelpDesk.Pendings_UCMDS" name="Pendings_UCMDS" ng-class='{"error-field" : ppc_form.Pendings_UCMDS.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                                        </td>
                                                        <td>
                                                            <input ng-init="PatientHelpDesk.Pendings_ETC = 0"  ng-model="PatientHelpDesk.Pendings_ETC" name="Pendings_ETC" ng-class='{"error-field" : ppc_form.Pendings_ETC.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                                        </td>
                                                        <td>
                                                            <input ng-init="PatientHelpDesk.Pendings_MA = 0"  ng-model="PatientHelpDesk.Pendings_MA" name="Pendings_MA" ng-class='{"error-field" : ppc_form.Pendings_MA.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                                        </td>
                                                        <td>
                                                            <input ng-init="PatientHelpDesk.Pendings_Webster = 0"  ng-model="PatientHelpDesk.Pendings_Webster" name="Pendings_Webster" ng-class='{"error-field" : ppc_form.Pendings_Webster.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                                        </td>
                                                        <td>
                                                            <input ng-init="PatientHelpDesk.Pendings_AUC = 0"  ng-model="PatientHelpDesk.Pendings_AUC" name="Pendings_AUC" ng-class='{"error-field" : ppc_form.Pendings_AUC.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                                        </td>
                                                        <td>
                                                            {{ PatientHelpDesk.Pendings_UCMDS -- PatientHelpDesk.Pendings_ETC -- PatientHelpDesk.Pendings_MA -- PatientHelpDesk.Pendings_Webster -- PatientHelpDesk.Pendings_AUC   }}
                                                        </td>
                                                    </tr>

                                                    <tr class="active text-primary">
                                                        <td scope="row">Total</td>
                                                        <td>
                                                            {{ PatientHelpDesk.Pendings_UCMDS }}
                                                        </td>
                                                        <td>
                                                            {{ PatientHelpDesk.Pendings_ETC }}
                                                        </td>
                                                        <td>
                                                            {{ PatientHelpDesk.Pendings_MA }}
                                                        </td>
                                                        <td>
                                                            {{ PatientHelpDesk.Pendings_Webster }}
                                                        </td>
                                                        <td>
                                                            {{ PatientHelpDesk.Pendings_AUC }}
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card text-center">
                                        <div class="card-block">

                                            <div class="ks-items-block">

                                                <button ng-disabled="!ppc_form.$valid" ng-click="SavePatientHelpDeskPPC(PatientHelpDesk)" class="btn btn-success-outline ks-solid">Save</button>

                                                <button ng-click="Cancel()" class="btn btn-warning-outline ks-solid">Cancel</button>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>

                    </div>*@

            </div>
        </div>
    </div>
</div>
