﻿@section styles{
    <style>
        .form-control {
            height: 30px;
        }
    </style>
}
<form name="a_form">
    <div class="row">
        <div class="col-lg-12">
            <div class="card panel panel-default panel-table">
                <h5 class="card-header text-center">
                    {{EmployeePractices.PracticeName}}
                </h5>
                <div class="card-block">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Insurance</th>
                                <th>Claim’s</th>
                                <th>Insurance</th>
                                <th>Claim’s</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row"> Multiple</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.Multiple = 0" ng-model="Assignment.Multiple" name="Multiple" ng-class='{"error-field" : a_form.Multiple.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>Do not bill to patient</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.NoPatientBill = 0" ng-model="Assignment.NoPatientBill" name="NoPatientBill" ng-class='{"error-field" : a_form.NoPatientBill.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>


                            <tr class="active text-primary">
                                <td scope="row">Grand Total</td>
                                <td colspan="2">
                                    {{Assignment.Multiple -- Assignment.NoPatientBill }}
                                </td>

                            </tr>
                        </tbody>
                    </table>



                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card panel panel-default panel-table">
                <h5 class="card-header text-center">
                    {{EmployeePractices.PracticeName}} - Patient Statements  (Un-Verified)
                </h5>
                <div class="card-block">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Total # of Claim</th>
                                <th>Done</th>
                                <th>Pending</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.UVTotalClaims = 0" ng-model="Assignment.UVTotalClaims" name="UVTotalClaims" ng-class='{"error-field" : a_form.UVTotalClaims.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.Done = 0" ng-model="Assignment.Done" name="Done" ng-class='{"error-field" : a_form.Done.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.PendingClaims = 0" ng-model="Assignment.PendingClaims" name="PendingClaims" ng-class='{"error-field" : a_form.PendingClaims.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>



                        </tbody>
                    </table>



                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card text-center">
                <div class="card-block">

                    <div class="ks-items-block">
                        <button ng-disabled="!a_form.$valid" ng-click="SaveAssignmentsData(Assignment,EmployeePractices)" class="btn btn-success-outline ks-solid">Save</button>

                        <button ng-click="Cancel()" class="btn btn-warning-outline ks-solid">Cancel</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</form>