﻿<form name="a_form">
    <div class="row">
        <div class="col-lg-12">
            <div class="card panel panel-default panel-table">
                <h5 class="card-header text-center">
                    {{EmployeePractices.PracticeName}}
                </h5>
                <div class="card-block">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Assignments</th>
                                <th>Count</th>
                                <th>Assignments</th>
                                <th>Count</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">eBridge/Practice Fusion (0)</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.PF_eBridge = 0" ng-model="Assignment.PF_eBridge" name="PF_eBridge" ng-class='{"error-field" : a_form.PF_eBridge.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>Rejections</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.Rejections = 0" ng-model="Assignment.Rejections" name="Rejections" ng-class='{"error-field" : a_form.Rejections.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">ERA Denials</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.ERADenials = 0" ng-model="Assignment.ERADenials" name="ERADenials" ng-class='{"error-field" : a_form.ERADenials.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>ERA Unmatched</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.ERAUnmatched = 0" ng-model="Assignment.ERAUnmatched" name="ERAUnmatched" ng-class='{"error-field" : a_form.ERAUnmatched.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>

                                <td scope="row">Appeals</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.Appeals = 0" ng-model="Assignment.Appeals" name="Appeals" ng-class='{"error-field" : a_form.Appeals.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td scope="row">Manually Adjustments Pri/Sec</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.ManuallyAdjustments = 0" ng-model="Assignment.ManuallyAdjustments" name="ManuallyAdjustments" ng-class='{"error-field" : a_form.ManuallyAdjustments.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>

                                <td>Aging Claims</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.AgingClaims = 0" ng-model="Assignment.AgingClaims" name="AgingClaims" ng-class='{"error-field" : a_form.AgingClaims.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td scope="row">Billing(ETC)</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.BillingETC = 0" ng-model="Assignment.BillingETC" name="BillingETC" ng-class='{"error-field" : a_form.BillingETC.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Emails</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.Emails = 0" ng-model="Assignment.Emails" name="Emails" ng-class='{"error-field" : a_form.Emails.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>PT Statements</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.PTStatements = 0" ng-model="Assignment.PTStatements" name="PTStatements" ng-class='{"error-field" : a_form.PTStatements.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Verification Claim</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.VerificationClaims = 0" ng-model="Assignment.VerificationClaims" name="PTStatements" ng-class='{"error-field" : a_form.VerificationClaims.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td></td><td></td>
                            </tr>

                            <tr class="active text-primary">
                                <td scope="row">Total</td>
                                <td colspan="4">
                                    {{ Assignment.PF_eBridge -- Assignment.Rejections -- Assignment.ERADenials -- Assignment.ERAUnmatched -- Assignment.Appeals -- Assignment.ManuallyAdjustments -- Assignment.AgingClaims -- Assignment.BillingETC -- Assignment.Emails -- Assignment.PTStatements -- Assignment.VerificationClaims }}
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card text-center">
                <div class="card-block">

                    <div class="ks-items-block">

                        <button ng-disabled="!a_form.$valid" ng-click="SaveAssignmentsData(Assignment,EmployeePractices)" class="btn btn-success-outline ks-solid">Save</button>

                        <button ng-click="Cancel()" class="btn btn-warning-outline ks-solid">Cancel</button>

                    </div>

                </div>
            </div>
        </div>

    </div>
</form>
