﻿<form name="f_form">
    <div class="row">
        <div class="col-lg-12">
            <div class="card panel panel-default panel-table">
                <h5 class="card-header text-center">
                    {{EmployeePractices.PracticeName}}
                </h5>
                <div class="card-block">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Assignments</th>
                                <th>Amount</th>
                                <th>Assignments</th>
                                <th>Amount</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">eBridge/Practice Fusion (0)</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="PPFinancial.PF_eBridge = 0" ng-model="PPFinancial.PF_eBridge" name="PF_eBridge" ng-class='{"error-field" : f_form.PF_eBridge.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>Rejections</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="PPFinancial.Rejections = 0" ng-model="PPFinancial.Rejections" name="Rejections" ng-class='{"error-field" : f_form.Rejections.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">ERA Denials</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="PPFinancial.ERADenials = 0" ng-model="PPFinancial.ERADenials" name="ERADenials" ng-class='{"error-field" : f_form.ERADenials.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>ERA Unmatched</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="PPFinancial.ERAUnmatched = 0" ng-model="PPFinancial.ERAUnmatched" name="ERAUnmatched" ng-class='{"error-field" : f_form.ERAUnmatched.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>

                                <td scope="row">Appeals</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="PPFinancial.Appeals = 0" ng-model="PPFinancial.Appeals" name="Appeals" ng-class='{"error-field" : f_form.Appeals.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td scope="row">Manually Adjustments Pri/Sec</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="PPFinancial.ManuallyAdjustments = 0" ng-model="PPFinancial.ManuallyAdjustments" name="ManuallyAdjustments" ng-class='{"error-field" : f_form.ManuallyAdjustments.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>

                                <td>Aging Claims</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="PPFinancial.AgingClaims = 0" ng-model="PPFinancial.AgingClaims" name="AgingClaims" ng-class='{"error-field" : f_form.AgingClaims.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td scope="row">Billing(ETC)</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="PPFinancial.BillingETC = 0" ng-model="PPFinancial.BillingETC" name="BillingETC" ng-class='{"error-field" : f_form.BillingETC.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Emails</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="PPFinancial.Emails = 0" ng-model="PPFinancial.Emails" name="Emails" ng-class='{"error-field" : f_form.Emails.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>PT Statements</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="PPFinancial.PTStatements = 0" ng-model="PPFinancial.PTStatements" name="PTStatements" ng-class='{"error-field" : f_form.PTStatements.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Verification Claim</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="PPFinancial.VerificationClaims = 0" ng-model="PPFinancial.VerificationClaims" name="PTStatements" ng-class='{"error-field" : f_form.VerificationClaims.$error.pattern}' ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr class="active text-primary">
                                <td scope="row">Total</td>
                                <td colspan="4">
                                    {{ PPFinancial.PF_eBridge -- PPFinancial.Rejections -- PPFinancial.ERADenials -- PPFinancial.ERAUnmatched -- PPFinancial.Appeals -- PPFinancial.ManuallyAdjustments -- PPFinancial.AgingClaims -- PPFinancial.BillingETC -- PPFinancial.Emails -- PPFinancial.PTStatements -- PPFinancial.VerificationClaims }}
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card text-center">
                <div class="card-block">

                    <div class="ks-items-block">

                        <button ng-disabled="!f_form.$valid" ng-click="SavePPFinancials(PPFinancial,EmployeePractices)" class="btn btn-success-outline ks-solid">Save</button>

                        <button ng-click="Cancel()" class="btn btn-warning-outline ks-solid">Cancel</button>

                    </div>

                </div>
            </div>
        </div>

    </div>
</form>

