﻿<form name="a_form">


    <div class="row">
        <div class="col-lg-12">
            <div class="card panel panel-default panel-table">
                <h5 class="card-header text-center">
                  {{EmployeePractices.PracticeName}}
                </h5>
                <div class="card-block">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Assignments</th>
                                <th>Count</th>
                                <th>Assignments</th>
                                <th>Count</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Entered Claims (Nexel/MA)</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.EnteredClaims = 0" ng-model="Assignment.EnteredClaims" name="EnteredClaims_NexelMA" ng-class='{"error-field" : Assignment_form.EnteredClaims_NexelMA.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>Eligibility</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.Eligibility = 0" ng-model="Assignment.Eligibility" name="Eligibility" ng-class='{"error-field" : Assignment_form.Eligibility.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">eBridge/Practice Fusion (No of Files)</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.PF_eBridge = 0" ng-model="Assignment.PF_eBridge" name="PF_eBridge" ng-class='{"error-field" : Assignment_form.PF_eBridge.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>Rejections (Emdeon)</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.RejectionsEmdeon = 0" ng-model="Assignment.RejectionsEmdeon" name="Rejections_Emdeon" ng-class='{"error-field" : Assignment_form.Rejections_Emdeon.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Rejections (Availity)</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.RejectionsAvaility = 0" ng-model="Assignment.RejectionsAvaility" name="Rejections_Availity" ng-class='{"error-field" : Assignment_form.Rejections_Availity.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td scope="row">ERA Denials</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.ERADenials = 0" ng-model="Assignment.ERADenials" name="ERADenials" ng-class='{"error-field" : Assignment_form.ERADenials.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">ERA Unmatched</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.ERAUnmatched = 0" ng-model="Assignment.ERAUnmatched" name="ERAUnmatched" ng-class='{"error-field" : Assignment_form.ERAUnmatched.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>Appeals</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.Appeals = 0" ng-model="Assignment.Appeals" name="Appeals" ng-class='{"error-field" : Assignment_form.Appeals.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Calls</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.Calls = 0" ng-model="Assignment.Calls" name="Calls" ng-class='{"error-field" : Assignment_form.Calls.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>Aging Claims</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.AgingClaims = 0" ng-model="Assignment.AgingClaims" name="AgingClaims" ng-class='{"error-field" : Assignment_form.AgingClaims.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Email</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.Emails = 0" ng-model="Assignment.Emails" name="Email" ng-class='{"error-field" : Assignment_form.Email.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>PT Statements</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.PTStatements = 0" ng-model="Assignment.PTStatements" name="PTStatements" ng-class='{"error-field" : Assignment_form.PTStatements.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">EOB payment (By Fax)</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="Assignment.EOBpayment = 0" ng-model="Assignment.EOBpayment" name="EOBpayment_Fax" ng-class='{"error-field" : Assignment_form.EOBpayment_Fax.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="active text-primary">
                                <td scope="row">Total</td>
                                <td colspan="2">
                                    {{ Assignment.EnteredClaims -- Assignment.Eligibility -- Assignment.PF_eBridge --  Assignment.RejectionsEmdeon -- Assignment.RejectionsAvaility -- Assignment.ERADenials -- Assignment.ERAUnmatched -- Assignment.Appeals -- Assignment.Calls -- Assignment.Emails -- Assignment.PTStatements -- Assignment.EOBpayment -- Assignment.AgingClaims }}
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card text-center">
                <div class="card-block">

                    <div class="ks-items-block">

                        <button ng-disabled="!a_form.$valid" ng-click="SaveAssignmentsData(Assignment,EmployeePractices)" class="btn btn-success-outline ks-solid">Save</button>

                        <button ng-click="Cancel()" class="btn btn-warning-outline ks-solid">Cancel</button>

                    </div>

                </div>
            </div>
        </div>

    </div>
</form>