﻿<form name="a_form">
    <div class="row">
        <div class="col-lg-12">
            <div class="card panel panel-default panel-table">
                <h5 class="card-header text-center">
                  {{EmployeePractices.PracticeName}}
                </h5>
                <div class="card-block">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Assignments</th>
                                <th>Count</th>
                                <th>Assignments</th>
                                <th>Count</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">eBridge/Practice Fusion (No of Files)</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="RCMGAssignments.PF_eBridge = 0" ng-model="RCMGAssignments.PF_eBridge" name="PF_eBridge" ng-class='{"error-field" : a_form.PF_eBridge.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>Rejections</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="RCMGAssignments.Rejections = 0" ng-model="RCMGAssignments.Rejections" name="Rejections" ng-class='{"error-field" : a_form.Rejections.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">ERA Denials</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="RCMGAssignments.ERADenials = 0" ng-model="RCMGAssignments.ERADenials" name="ERADenials" ng-class='{"error-field" : a_form.ERADenials.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>ERA Unmatched</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="RCMGAssignments.ERAUnmatched = 0" ng-model="RCMGAssignments.ERAUnmatched" name="ERAUnmatched" ng-class='{"error-field" : a_form.ERAUnmatched.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">PTL Responses</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="RCMGAssignments.PTLResponses = 0" ng-model="RCMGAssignments.PTLResponses" name="PTLResponses" ng-class='{"error-field" : a_form.PTLResponses.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td scope="row">Appeals</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="RCMGAssignments.Appeals = 0" ng-model="RCMGAssignments.Appeals" name="Appeals" ng-class='{"error-field" : a_form.Appeals.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Calls</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="RCMGAssignments.Calls = 0" ng-model="RCMGAssignments.Calls" name="Calls" ng-class='{"error-field" : a_form.Calls.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>Aging Claims</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="RCMGAssignments.AgingClaims = 0" ng-model="RCMGAssignments.AgingClaims" name="AgingClaims" ng-class='{"error-field" : a_form.AgingClaims.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Emails</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="RCMGAssignments.Emails = 0" ng-model="RCMGAssignments.Emails" name="Emails" ng-class='{"error-field" : a_form.Emails.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                                <td>PT Statements</td>
                                <td>
                                    <div data-tip="Don't include Comma ( , ) Dollar ( $ )">
                                        <input ng-init="RCMGAssignments.PTStatements = 0" ng-model="RCMGAssignments.PTStatements" name="PTStatements" ng-class='{"error-field" : a_form.PTStatements.$error.pattern}' ng-pattern="/^[0-9]+([][0-9]+)?$/" type="text" class="form-control ks-rounded">
                                    </div>
                                </td>
                            </tr>

                            <tr class="active text-primary">
                                <td scope="row">Total</td>
                                <td colspan="2">
                                    {{ RCMGAssignments.PF_eBridge -- RCMGAssignments.Rejections -- RCMGAssignments.ERADenials -- RCMGAssignments.ERAUnmatched -- RCMGAssignments.PTLResponses -- RCMGAssignments.Appeals -- RCMGAssignments.Calls -- RCMGAssignments.AgingClaims -- RCMGAssignments.Emails -- RCMGAssignments.PTStatements }}
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card text-center">
                <div class="card-block">

                    <div class="ks-items-block">

                        <button ng-disabled="!a_form.$valid" ng-click="SaveAssignmentsData(RCMGAssignments,EmployeePractices)" class="btn btn-success-outline ks-solid">Save</button>

                        <button ng-click="Cancel()" class="btn btn-warning-outline ks-solid">Cancel</button>

                    </div>

                </div>
            </div>
        </div>

    </div>
</form>