﻿@using System.Web.Configuration
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section styles{
    
}
<!-- BEGIN DASHBOARD HEADER -->
<!-- END DASHBOARD HEADER -->
<div class="ks-body">
    <div class="container-fluid ks-rows-section">
       

        <!-- stats - count particles -->
     
    </div>
</div>

@section scripts{
   
}
