﻿@{
    ViewBag.Title = "UserProductivity";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using System.Web.Configuration

@section styles{
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/apps/messenger.min.css"> <!-- Customization -->
}
<div class="ks-body">
    <div class="ks-messenger">
        <div class="ks-discussions"  style=" padding: 9px; width: 250px;">
            <div class="ks-search">
                <div class="input-icon icon-right icon icon-lg icon-color-primary">
                    <input id="input-group-icon-text" type="text" class="form-control" placeholder="Search">
                    <span class="icon-addon">
                        <span class="fa fa-search"></span>
                    </span>
                </div>
            </div>
            <div class="ks-body ks-scrollable" data-auto-height>
                <ul class="ks-items">
                    <li class="ks-item ks-active">
                        <a href="#">
                            <span class="ks-group-amount">1</span>
                            <div class="ks-body">
                                <div class="ks-name">
                                    Department Name
                                    
                                </div>
                                <div class="ks-message">
                                  Category
                                </div>
                            </div>
                        </a>
                    </li>
                   
                </ul>
            </div>
        </div>

        <div class="ks-messages">
            <div class="ks-header">
                <div class="ks-description">
                    <div class="ks-name">Chat name</div>
                    <div class="ks-amount">2 members</div>
                </div>
                <div class="ks-controls">
                    <div class="dropdown">
                        <button class="btn btn-primary-outline ks-light ks-no-text ks-no-arrow" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-ellipsis-h ks-icon"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right ks-simple" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">
                                <span class="fa fa-user-plus ks-icon"></span>
                                <span class="ks-text">Add members</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                <span class="fa fa-eye-slash ks-icon"></span>
                                <span class="ks-text">Mark as unread</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                <span class="fa fa-bell-slash-o ks-icon"></span>
                                <span class="ks-text">Mute notifications</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                <span class="fa fa-mail-forward ks-icon"></span>
                                <span class="ks-text">Forward</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                <span class="fa fa-ban ks-icon"></span>
                                <span class="ks-text">Spam</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                <span class="fa fa-trash-o ks-icon"></span>
                                <span class="ks-text">Delete</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ks-body ks-scrollable" data-auto-height data-reduce-height=".ks-footer" data-fix-height="32">
                <ul class="ks-items">
                    <li class="ks-item ks-self">
                        <span class="ks-avatar ks-offline">
                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/avatars/ava-4.png" width="36" height="36" class="rounded-circle">
                        </span>
                        <div class="ks-body">
                            <div class="ks-header">
                                <span class="ks-name">Brian Diaz</span>
                                <span class="ks-datetime">6:46 PM</span>
                            </div>
                            <div class="ks-message">The weird future of movie theater food</div>
                        </div>
                    </li>
                    <li class="ks-item ks-from">
                        <span class="ks-avatar ks-online">
                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/avatars/ava-4.png" width="36" height="36" class="rounded-circle">
                        </span>
                        <div class="ks-body">
                            <div class="ks-header">
                                <span class="ks-name">Brian Diaz</span>
                                <span class="ks-datetime">6:46 PM</span>
                            </div>
                            <div class="ks-message">The weird future of movie theater food</div>
                        </div>
                    </li>
                    <li class="ks-item ks-from">
                        <span class="ks-avatar ks-online">
                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/avatars/ava-4.png" width="36" height="36" class="rounded-circle">
                        </span>
                        <div class="ks-body">
                            <div class="ks-header">
                                <span class="ks-name">Brian Diaz</span>
                                <span class="ks-datetime">6:46 PM</span>
                            </div>
                            <div class="ks-message">
                                The weird future of movie theater food

                                <div class="ks-link">
                                    <div class="ks-name">Google</div>
                                    <a href="http://www.google.com" target="_blank">www.google.com</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="ks-item ks-self">
                        <span class="ks-avatar ks-offline">
                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/avatars/ava-4.png" width="36" height="36" class="rounded-circle">
                        </span>
                        <div class="ks-body">
                            <div class="ks-header">
                                <span class="ks-name">Brian Diaz</span>
                                <span class="ks-datetime">6:46 PM</span>
                            </div>
                            <div class="ks-message">The weird future of movie theater food</div>
                        </div>
                    </li>
                    <li class="ks-item ks-from ks-unread">
                        <span class="ks-avatar ks-online">
                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/avatars/ava-4.png" width="36" height="36" class="rounded-circle">
                        </span>
                        <div class="ks-body">
                            <div class="ks-header">
                                <span class="ks-name">Brian Diaz</span>
                                <span class="ks-datetime">1 minute ago</span>
                            </div>
                            <div class="ks-message">
                                The weird future of movie theater food

                                <ul class="ks-files">
                                    <li class="ks-file">
                                        <a href="#">
                                            <span class="ks-thumb">
                                                <span class="ks-icon fa fa-file-word-o text-info"></span>
                                            </span>
                                            <span class="ks-info">
                                                <span class="ks-name">Project...</span>
                                                <span class="ks-size">15 kb</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="ks-file">
                                        <a href="#">
                                            <span class="ks-thumb">
                                                <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/thumbs/ph-3.png" width="36" height="36">
                                            </span>
                                            <span class="ks-info">
                                                <span class="ks-name">photo.jpg</span>
                                                <span class="ks-size">312 kb</span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li class="ks-separator">Today</li>

                    <li class="ks-item ks-self">
                        <span class="ks-avatar ks-offline">
                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/avatars/ava-4.png" width="36" height="36" class="rounded-circle">
                        </span>
                        <div class="ks-body">
                            <div class="ks-header">
                                <span class="ks-name">Brian Diaz</span>
                                <span class="ks-datetime">6:46 PM</span>
                            </div>
                            <div class="ks-message">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                of type and scrambled it to make a type specimen book.
                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                            </div>
                        </div>
                    </li>
                    <li class="ks-item ks-self">
                        <span class="ks-avatar ks-offline">
                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/avatars/ava-4.png" width="36" height="36" class="rounded-circle">
                        </span>
                        <div class="ks-body">
                            <div class="ks-header">
                                <span class="ks-name">Brian Diaz</span>
                                <span class="ks-datetime">6:46 PM</span>
                            </div>
                            <div class="ks-message">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                of type and scrambled it to make a type specimen book.
                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                            </div>
                        </div>
                    </li>
                    <li class="ks-item ks-self">
                        <span class="ks-avatar ks-offline">
                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/avatars/ava-4.png" width="36" height="36" class="rounded-circle">
                        </span>
                        <div class="ks-body">
                            <div class="ks-header">
                                <span class="ks-name">Brian Diaz</span>
                                <span class="ks-datetime">6:46 PM</span>
                            </div>
                            <div class="ks-message">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                of type and scrambled it to make a type specimen book.
                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="ks-footer">
                <textarea class="form-control" placeholder="Type something..."></textarea>
                <div class="ks-controls">
                    <button class="btn btn-primary">Send</button>
                    <a href="#" class="fa fa-paperclip ks-attachment"></a>
                    <div class="dropdown dropup">
                        <button class="btn btn-link ks-smile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-smile-o"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right ks-scrollable ks-smileys" aria-labelledby="dropdownMenuButton">
                            <div class="ks-smileys-wrapper">
                                <table>
                                    <tr>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/angel.png" width="20" height="20">
                                        </td>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/angry-2.png" width="20" height="20">
                                        </td>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/angry-3.png" width="20" height="20">
                                        </td>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/baby-1.png" width="20" height="20">
                                        </td>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/confused-3.png" width="20" height="20">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/creepy.png" width="20" height="20">
                                        </td>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/crying-3.png" width="20" height="20">
                                        </td>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/dazed-2.png" width="20" height="20">
                                        </td>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/dead-4.png" width="20" height="20">
                                        </td>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/desperate-1.png" width="20" height="20">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/doctor.png" width="20" height="20">
                                        </td>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/dumb.png" width="20" height="20">
                                        </td>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/gentleman-3.png" width="20" height="20">
                                        </td>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/gentleman-4.png" width="20" height="20">
                                        </td>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/goofy-1.png" width="20" height="20">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/goofy-4.png" width="20" height="20">
                                        </td>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/happy-1.png" width="20" height="20">
                                        </td>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/happy-5.png" width="20" height="20">
                                        </td>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/happy-6.png" width="20" height="20">
                                        </td>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/happy-7.png" width="20" height="20">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/happy-8.png" width="20" height="20">
                                        </td>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/happy-9.png" width="20" height="20">
                                        </td>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/happy-10.png" width="20" height="20">
                                        </td>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/happy-11.png" width="20" height="20">
                                        </td>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/hipster-2.png" width="20" height="20">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/in-love-2.png" width="20" height="20">
                                        </td>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/in-love-3.png" width="20" height="20">
                                        </td>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/in-love-4.png" width="20" height="20">
                                        </td>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/joyful-2.png" width="20" height="20">
                                        </td>
                                        <td>
                                            <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/smiley/kiss-1.png" width="20" height="20">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ks-info">
            <div class="ks-header">
                Summary
            </div>
            <div class="ks-body">
                <div class="ks-item ks-user">
                    <span class="ks-avatar ks-online">
                        <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/avatars/ava-3.png" width="36" height="36" class="rounded-circle">
                    </span>
                    <span class="ks-name">
                        Lauren Sandoval
                    </span>
                </div>

                <div class="ks-item">
                    <div class="ks-name">Username</div>
                    <div class="ks-text">
                        lauren.sandoval
                    </div>
                </div>
                <div class="ks-item">
                    <div class="ks-name">Email</div>
                    <div class="ks-text">
                        lauren.sandoval@example.com
                    </div>
                </div>
                <div class="ks-item">
                    <div class="ks-name">Phone Number</div>
                    <div class="ks-text">
                        +1(555) 555-555
                    </div>
                </div>
            </div>
            <div class="ks-footer">
                <div class="ks-header">
                    Export
                </div>
                <div class="ks-item">
                    <div class="ks-name">Created</div>
                    <div class="ks-text">
                        Febriary 17, 2016 at 11:38 PM
                    </div>
                </div>
                <div class="ks-item">
                    <div class="ks-name">Last Activity</div>
                    <div class="ks-text">
                        1 minute ago
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script type="application/javascript">
    (function ($) {
        $(document).ready(function () {
            $('.ks-discussions .ks-item').on('click', function() {
                var messagesBox = $('.ks-messages');

                messagesBox.LoadingOverlay("show", {
                    image: "",
                    custom: $("<div>", {
                        text: 'Loading...'
                    }),
                    color: "rgba(255, 255, 255, 0.6)",
                    zIndex: 2
                });

                setTimeout(function() {
                    messagesBox.LoadingOverlay("hide");
                }, 2000);
            });

            if (Response.band(0, 800)) {
                var ksMessagesView = $('.ks-messenger > .ks-messages');
                var ksDiscussions = $('.ks-messenger > .ks-discussions > .ks-body .ks-items > .ks-item');
                var ksViewCancel = $('.ks-mail > .ks-view .ks-view-cancel');

                ksDiscussions.on('click', function () {
                    ksMessagesView.addClass('ks-open');
                });

                ksViewCancel.on('click', function() {
                    ksMessagesView.removeClass('ks-open');
                });
            }
        });
    })(jQuery);
</script>
    }