﻿@using System.Web.Configuration
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/fonts/open-sans/styles.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/tether/css/tether.min.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/jscrollpane/jquery.jscrollpane.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/common.min.css">
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/themes/primary.min.css">
    <!-- END THEME STYLES -->

    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/widgets/panels.min.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/scripts/charts/area/area.chart.min.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/scripts/charts/radial-progress/radial-progress.chart.min.css">

    <style>
        .highcharts-credits {
            display: none;
        }

        .chart-container {
            min-width: 0;
            height: 0;
            border: 0;
            margin-bottom: 0;
            background-color: 0;
            border-radius: 0;
        }

        .practice-list {
            background: #ebedf1;
            border-radius: 9px;
            /* padding: 3px; */
            text-align: center;
            margin: 7px;
            padding-top: 9px;
            color: #3a529b !important;
            border-color: #c75a9c;
            word-wrap: break-word;
            cursor: pointer;
            padding: 7px;
        }

        .chart-title {
            font-size: 24px;
            margin: 0;
            padding: 0;
            font-family: initial;
            color: red;
            font-weight: 900;
        }

        .practice-list:hover {
            background: #b7b7b7;
            border-color: #3a529b;
        }

        .practice-actice {
            background: #96949459;
            border-color: #827171;
            padding: 13px;
            cursor: pointer;
        }
    </style>
}

<div class="container-fluid ks-rows-section" ng-controller="UserDashboardController">
   
    <div class="row ks-widgets-collection">
        <div class="col-xl-12 ks-panels-column-section">
            <div class="card panel panel-default ks-widget ks-widget-progress-list">
                <div class="card-header">
                    Practice checklists
                    <div class="ks-controls">
                        <a href="#" class="ks-control ks-update"><span class="fa fa-repeat"></span></a>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <div class="card-block">
                            
                                <div ng-repeat="Practice in UserPracticeList" ng-model="SelectedPractice" class="practice-outer">
                                    <div id="Practice_{{Practice.PracticeID}}" class="card practice-list" ng-click="DrawPracticeChart(Practice)">
                                        <div class="list-view">  {{Practice.PracticeName}}</div>
                                    </div>
                                </div>


                           
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card-block">
                            
                                <div id="ks-line-chart-panel" class="card panel">
                                    <div class="text-center"><span class="chart-title">Practice Performance -- {{SelectedPracticeName}}</span></div>
                                    <div class="card-block">
                                        <div id="Practice-analysis-chart" style="width: 100%; height: 500px"></div>

                                    </div>

                                </div>
                            
                        </div>

                    </div>
                </div>




                </div>

            </div>



    </div>
</div>





@section scripts{
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/jquery/jquery.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/responsejs/response.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/loading-overlay/loadingoverlay.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/tether/js/tether.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/jscrollpane/jquery.jscrollpane.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/jscrollpane/jquery.mousewheel.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/flexibility/flexibility.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="@WebConfigurationManager.AppSettings["Theme"]assets/scripts/common.min.js"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
    <!-- BEGIN DASHBOARD SCRIPTS -->
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/d3/d3.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/count-up/count-up.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]assets/scripts/charts/area/area.chart.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]assets/scripts/charts/radial-progress/radial-progress.chart.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]assets/scripts/charts/bar/inline-bar.chart.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>


    <script type="text/javascript">
        $("loader").show();
        App.controller("UserDashboardController", function ($scope, $http, DashboardServices) {
            EmployeeDetailObjct = {};
            SelectedPracticeID = 0;
            DashboardServices.GET("CheckEmployeeLoginSession").then(function (response) {

                   if (response.data == "exception") {
                       swal("Exception", "Invalid server response, Please try again ", "error").then(value=> {
                           window.location.href = '/auth/logout'
                       });
                   }
                   else  if (response.data == "null") {
                       swal("Exception", "Invalid server response, Please try again ", "error").then(value=> {
                           window.location.href = '/auth/logout'
                       });
                   }
                   else if (response.data == "invalid") {
                       swal("Exception", "Invalid server response, Please try again ", "error").then(value=> {
                           window.location.href = '/auth/logout'
                       });
                   }
                   else {
                       EmployeeDetailObjct = response.data;

                       if (EmployeeDetailObjct.RoleID != 1) {
                           DashboardServices.POST(EmployeeDetailObjct, "GetEmployeesPracticesList").then(function (response) {
                               $scope.UserPracticeList = response.data;
                           });

                           google.charts.load('current', { 'packages': ['corechart'] });
                           google.charts.setOnLoadCallback(DrawPracticeAnalysisChart);
                           function DrawPracticeAnalysisChart(PracticeDetail) {
                               if (typeof PracticeDetail == "undefined") {
                                   PracticeDetail = {};
                               }

                               if (EmployeeDetailObjct.DepartmentID == 3 || EmployeeDetailObjct.DepartmentID == 4 || EmployeeDetailObjct.DepartmentID == 5) {

                                   DashboardServices.POST({ ObjEmployees: EmployeeDetailObjct, Practices: PracticeDetail }, "GetCurrentYearPracticeSummary").then(function (response) {
                                       ChargesData = response.data;
                                       var ChartData = [];
                                       var Months = [
                                               'Jan',
                                               'Feb',
                                               'Mar',
                                               'Apr',
                                               'May',
                                               'Jun',
                                               'Jul',
                                               'Aug',
                                               'Sep',
                                               'Oct',
                                               'Nov',
                                               'Dec'
                                       ];

                                       ChartData[0] = ['Month', 'Charges', 'Payments', 'Aging'];
                                       angular.forEach(Months, function (values, key) {
                                           if (typeof ChargesData[key] != "undefined") {
                                               $scope.SelectedPracticeName = ChargesData[key].PracticeName;
                                               if (ChargesData[key].MonthValue == key + 1) {
                                                   ChartData[key + 1] = [Months[key], ChargesData[key].DailyCharges, ChargesData[key].DailyPayments, ChargesData[key].AgingAmount]
                                               }
                                               else {
                                                   debugger
                                                   if (typeof ChartData[key + 1] == "undefined") {
                                                       ChartData[key + 1] = [Months[key], 0.0, 0.0, 0.0]
                                                       ChartData[ChargesData[key].MonthValue] = [Months[ChargesData[key].MonthValue - 1], ChargesData[key].DailyCharges, ChargesData[key].DailyPayments, ChargesData[key].AgingAmount]
                                                   }
                                                   else {
                                                       ChartData[ChargesData[key].MonthValue] = [Months[ChargesData[key].MonthValue - 1], ChargesData[key].DailyCharges, ChargesData[key].DailyPayments, ChargesData[key].AgingAmount]

                                                   }
                                                   // ChartData.push([Months[key], ChargesData[key].DailyCharges, ChargesData[key].DailyPayments, ChargesData[key].AgingAmount]);
                                               }
                                           }
                                           else {
                                               if (typeof ChartData[key + 1] == "undefined") {
                                                   ChartData[key + 1] = [Months[key], 0.0, 0.0, 0.0]
                                               }
                                           }
                                       });
                                       //  }


                                       var data = google.visualization.arrayToDataTable(ChartData);
                                       var options = {

                                           seriesType: 'bars',
                                           legend: { position: 'bottom' },
                                           colors: ['#3366CC', '#329262', '#DC3912']
                                       };
                                       var chart = new google.visualization.ColumnChart(document.getElementById('Practice-analysis-chart'));
                                       chart.draw(data, options);
                                   });
                               }
                               else if (EmployeeDetailObjct.DepartmentID == 1 || EmployeeDetailObjct.DepartmentID == 6 || EmployeeDetailObjct.DepartmentID == 7 || EmployeeDetailObjct.DepartmentID == 2 || EmployeeDetailObjct.DepartmentID == 9 || EmployeeDetailObjct.DepartmentID == 8) {
                                   DashboardServices.POST({ ObjEmployees: EmployeeDetailObjct, Practices: PracticeDetail }, "GetCurrentYearAssignCount").then(function (response) {
                                       AssignmentData = response.data;
                                       var ChartData = [];
                                       var Months = [
                                               'Jan',
                                               'Feb',
                                               'Mar',
                                               'Apr',
                                               'May',
                                               'Jun',
                                               'Jul',
                                               'Aug',
                                               'Sep',
                                               'Oct',
                                               'Nov',
                                               'Dec'
                                       ];

                                       ChartData[0] = ['Assignments', 'Claims Count'];

                                       if (EmployeeDetailObjct.DepartmentID == 1) {

                                           if (AssignmentData.data == "null") {
                                               $scope.SelectedPracticeName = AssignmentData.Practice;
                                               //ChartData.push(['Credentialing Calls', 0]);
                                               //ChartData.push(['Credentialing Documents', 0]);
                                               //ChartData.push(['EDI Calls', 0]);
                                               //ChartData.push(['EDI Setup', 0]);
                                               //ChartData.push(['ERA Calls', 0]);
                                               //ChartData.push(['ERA Setup', 0]);
                                               //ChartData.push(['EFT Calls', 0]);
                                               //ChartData.push(['EFT Setup', 0]);
                                               //ChartData.push(['Web Logins', 0]);
                                               //ChartData.push(['Enrollment Tracking Sheet', 0]);
                                               //ChartData.push(['Emails', 0]);
                                           }
                                           else {
                                               $scope.SelectedPracticeName = AssignmentData.PracticeName;
                                           }


                                           ChartData.push(['Credentialing Calls', AssignmentData.CredentialingCalls]);
                                           ChartData.push(['Credentialing Documents', AssignmentData.CredentialingDocuments]);
                                           ChartData.push(['EDI Calls', AssignmentData.EDICalls]);
                                           ChartData.push(['EDI Setup', AssignmentData.EDISetup]);
                                           ChartData.push(['ERA Calls', AssignmentData.ERACalls]);
                                           ChartData.push(['ERA Setup', AssignmentData.ERASetup]);
                                           ChartData.push(['EFT Calls', AssignmentData.EFTCalls]);
                                           ChartData.push(['EFT Setup', AssignmentData.EFTSetup]);
                                           ChartData.push(['Web Logins', AssignmentData.WebLogins]);
                                           ChartData.push(['Enrollment Tracking Sheet', AssignmentData.EnrollmentTrackingSheet]);
                                           ChartData.push(['Emails', AssignmentData.Emails]);

                                       }
                                       else if (EmployeeDetailObjct.DepartmentID == 6) {
                                           console.log(AssignmentData);
                                           $scope.SelectedPracticeName = AssignmentData.PracticeName;
                                           ChartData.push(['Calls', AssignmentData.Calls]);
                                           ChartData.push(['EmailVerification', AssignmentData.EmailVerification]);
                                           ChartData.push(['FaxedVerification', AssignmentData.FaxedVerification]);
                                           ChartData.push(['Others', AssignmentData.Others]);
                                           ChartData.push(['WebVerification', AssignmentData.WebVerification]);
                                       }
                                       else if (EmployeeDetailObjct.DepartmentID == 2) {
                                           console.log(AssignmentData);
                                           console.log(AssignmentData);
                                           $scope.SelectedPracticeName = (typeof AssignmentData.PracticeName != "undefined" ? AssignmentData.PracticeName : AssignmentData.Practice);
                                           ChartData.push(['Answered Voice Msgs', AssignmentData.AVM]);
                                           ChartData.push(['Emails', AssignmentData.Emails]);
                                           ChartData.push(['Insurance Correspondence', AssignmentData.IC]);
                                           ChartData.push(['In-Coming Insurance Calls', AssignmentData.ICIC]);
                                           ChartData.push(['In-Coming Patient Calls', AssignmentData.ICPC]);
                                           ChartData.push(['Itemized Statements', AssignmentData.IS]);
                                           ChartData.push(['Left Voice Msgs', AssignmentData.LVM]);
                                           ChartData.push(['Out Going Insurance Calls', AssignmentData.OGIC]);
                                           ChartData.push(['Out Going Patient Calls', AssignmentData.OGPC]);
                                           ChartData.push(['Patient Correspondence', AssignmentData.PC]);
                                           ChartData.push(['Patient Statements', AssignmentData.PS]);
                                           ChartData.push(['Pendings', AssignmentData.Pendings]);
                                       }
                                       else if (EmployeeDetailObjct.DepartmentID == 7) {
                                           console.log("77777777");
                                           console.log(AssignmentData); debugger;
                                           $scope.SelectedPracticeName = (typeof AssignmentData.PracticeName != "undefined" ? AssignmentData.PracticeName : AssignmentData.Practice);


                                           ChartData.push(['Received Bills', AssignmentData.ReceivedBills]);
                                           ChartData.push(['Eligibility', AssignmentData.Eligibility]);
                                           ChartData.push(['Billing Analysis', AssignmentData.BillingAnalysis]);
                                           

                                           ChartData.push(['Entered Claims', AssignmentData.EnteredClaims]);
                                           ChartData.push(['Pending Claims', AssignmentData.PendingClaims]);
                                           ChartData.push(['Paid Claims', AssignmentData.PaidClaims]);
                                           ChartData.push(['Prepared Claims', AssignmentData.PreparedClaims]);
                                           ChartData.push(['Prepared Encounters', AssignmentData.PreparedEncounters]);
                                           ChartData.push(['Missing Log', AssignmentData.MissingLog]);
                                           ChartData.push(['Emails', AssignmentData.Emails]);
                                           ChartData.push(['QA', AssignmentData.QA]);
                                           
                                       }
                                       else if (EmployeeDetailObjct.DepartmentID == 9) {
                                           console.log("999999999");
                                           console.log(AssignmentData); debugger;
                                           $scope.SelectedPracticeName = (typeof AssignmentData.PracticeName != "undefined" ? AssignmentData.PracticeName : AssignmentData.Practice);
                                           ChartData.push(['eBridge/Practice Fusion (0)', AssignmentData.PF_eBridge]);
                                           ChartData.push(['Rejections', AssignmentData.Rejections]);
                                           ChartData.push(['ERA Denials', AssignmentData.ERADenials]);
                                           ChartData.push(['ERA Unmatched', AssignmentData.ERAUnmatched]);
                                           ChartData.push(['Appeals', AssignmentData.Appeals]);
                                           ChartData.push(['Manually Adjustments Pri/Sec', AssignmentData.ManuallyAdjustments]);
                                           ChartData.push(['AgingClaims', AssignmentData.AgingClaims]);
                                           ChartData.push(['Billing (ETC)', AssignmentData.BillingETC]);
                                           ChartData.push(['Emails', AssignmentData.Emails]);
                                           ChartData.push(['PT Statements', AssignmentData.PTStatements]);
                                           ChartData.push(['Verification Claims', AssignmentData.VerificationClaims]);

                                       }
                                       else if (EmployeeDetailObjct.DepartmentID == 8) {
                                               ChartData[0] = ['Insurance', 'Claims'];
                                               ChartData.push(['Multiple', AssignmentData.Multiple]);
                                               ChartData.push(['Do not bill to patient', AssignmentData.NoPatientBill]);
                                               //ChartData.push(['Total # of Claim', AssignmentData.UVTotalClaims]);
                                               ChartData.push(['Done', AssignmentData.Done]);
                                               ChartData.push(['Pending', AssignmentData.PendingClaims]);
                                       }


                                       var data = google.visualization.arrayToDataTable(ChartData);
                                       var options = {
                                           is3D: true,
                                           //seriesType: 'bars',
                                           legend: { position: 'right' },
                                           tooltip: {
                                               text: 'value'
                                           },
                                           
                                           pieSliceText: 'value',
                                           sliceVisibilityThreshold: 0
                                       };
                                       var chart = new google.visualization.PieChart(document.getElementById('Practice-analysis-chart'));


                                       chart.draw(data, options);
                                   });
                               }
                               
                               
                           }
                           $scope.DrawPracticeChart = function (Practice) {
                               if (SelectedPracticeID != Practice.PracticeID) {
                                   $scope.SelectedPracticeName = Practice.PracticeName;
                                   if (SelectedPracticeID == 0) {
                                       $("#Practice_" + Practice.PracticeID).addClass("practice-actice");
                                       $("#Practice_" + Practice.PracticeID).removeClass("practice-list");
                                       SelectedPracticeID = Practice.PracticeID;
                                   } else {
                                       $("#Practice_" + Practice.PracticeID).addClass("practice-actice");
                                       $("#Practice_" + SelectedPracticeID).removeClass("practice-actice");
                                       $("#Practice_" + SelectedPracticeID).addClass("practice-list");
                                       SelectedPracticeID = Practice.PracticeID;
                                   }
                                   DrawPracticeAnalysisChart(Practice);
                               }
                           }

                       }
                       else {
                           swal("Warning", "You are not authorised to access this page", "error").then(value=> {
                               window.location.href = "/auth/logout";
                           });
                       }
                       
                   }
            });









        });
        App.factory("DashboardServices", function ($http, $q) {
            return {
                POST: function (data, url) {

                    var defer = $q.defer();

                    $http({
                        url: $services + url,
                        method: "POST",
                        data: data
                    }).then(function (d) {
                        defer.resolve(d);
                    }), function (e) {
                        //callback after failed
                        alert("Error");

                        defer.reject(e);
                    };
                    return defer.promise;
                },
                GET: function (url) {
                    return $http.get($services + url);
                },
            }
        });
    </script>

}


@*var data = google.visualization.arrayToDataTable([
      ['Year', 'Sales', 'Expenses', 'Profit'],
      ['2014', 1000, 400, 200],
      ['2015', 1170, 460, 250],
      ['2016', 660, 1120, 300],
      ['2017', 1030, 540, 350]
    ]);*@