﻿@using System.Web.Configuration
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/fonts/open-sans/styles.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/tether/css/tether.min.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/jscrollpane/jquery.jscrollpane.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/common.min.css">
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/themes/primary.min.css">
    <!-- END THEME STYLES -->

    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/widgets/panels.min.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/scripts/charts/area/area.chart.min.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/scripts/charts/radial-progress/radial-progress.chart.min.css">
}

    <div class="container-fluid ks-rows-section">
        <div class="col-lg-12">
            <div class="card panel">
                <h5 class="card-header">
                    Pie Chart
                </h5>
                <div class="card-block" data-height="400">
                    <div id="ks-pie-chart"></div>
                </div>
            </div>
        </div>
    </div>

@section scripts{
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/jquery/jquery.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/responsejs/response.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/loading-overlay/loadingoverlay.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/tether/js/tether.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/jscrollpane/jquery.jscrollpane.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/jscrollpane/jquery.mousewheel.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/flexibility/flexibility.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="@WebConfigurationManager.AppSettings["Theme"]assets/scripts/common.min.js"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
    <!-- BEGIN DASHBOARD SCRIPTS -->
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/d3/d3.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/count-up/count-up.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]assets/scripts/charts/area/area.chart.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]assets/scripts/charts/radial-progress/radial-progress.chart.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]assets/scripts/charts/bar/inline-bar.chart.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
(function ($) {
    $(document).ready(function() {
        var memoryRadialProgressChart = new KosmoCharts.RadialProgress('#ks-memory-radial-progress-chart', {
            lineWidth: 8,
            size: 50,
            showAmount: false,
            amount: 25
        });
        memoryRadialProgressChart.render();

        var cpuRadialProgressChart = new KosmoCharts.RadialProgress('#ks-cpu-radial-progress-chart', {
            lineWidth: 8,
            size: 50,
            showAmount: false,
            amount: 50
        });
        cpuRadialProgressChart.render();

        google.charts.load('current', {'packages':['corechart', 'bar', 'line']});
      
        google.charts.setOnLoadCallback(drawPieChart);
        google.charts.setOnLoadCallback(function () {
            var data = google.visualization.arrayToDataTable([
                ['Memory', 'Usages'],
                [10,  20],
                [11,  50],
                [12,  10],
                [13,  80],
                [14,  20],
                [15,  90],
                [16,  60],
                [17,  30],
                [18,  50],
                [19,  20],
                [20,  40],
                [21,  50],
                [22,  90],
                [23,  80],
                [24,  20],
                [25,  90],
                [26,  50],
                [27,  30],
                [28,  60],
                [29,  30]
            ]);

            var options = {
                title: null,
                height: 40,
                legend: {position: 'none'},
                backgroundColor: {
                    fill: 'transparent'
                },
                chartArea:{
                    left:0,
                    top:0,
                    right: 0,
                    height: 40
                },
                lineWidth: 1,
                colors:['#efc8ea','#f5daf1'],
                hAxis: {
                    baselineColor: 'none',
                    gridlines: {
                        color: '#fff'
                    }
                },
                vAxis: {
                    baselineColor: 'none',
                    maxValue: 115,
                    gridlines: {
                        color: '#e1e5f0'
                    }
                }
            };

            var chart = new google.visualization.AreaChart(document.getElementById('ks-memory-area-chart'));
            chart.draw(data, options);
        });
        google.charts.setOnLoadCallback(function () {
            var data = google.visualization.arrayToDataTable([
                ['CPU', 'Usages'],
                [10,  30],
                [11,  50],
                [12,  10],
                [13,  80],
                [14,  20],
                [15,  90],
                [16,  60],
                [17,  30],
                [18,  50],
                [19,  20],
                [20,  40],
                [21,  50],
                [22,  90],
                [23,  80],
                [24,  20],
                [25,  90],
                [26,  50],
                [27,  30],
                [28,  60],
                [29,  30]
            ]);

            var options = {
                title: null,
                height: 40,
                legend: {position: 'none'},
                backgroundColor: {
                    fill: 'transparent'
                },
                chartArea:{
                    left:0,
                    top:0,
                    right: 0,
                    height: 40
                },
                lineWidth: 1,
                colors:['#c4cbe1','#ebeef5'],
                hAxis: {
                    baselineColor: 'none',
                    gridlines: {
                        color: '#fff'
                    }
                },
                vAxis: {
                    baselineColor: 'none',
                    maxValue: 115,
                    gridlines: {
                        color: '#e1e5f0'
                    }
                }
            };

            var chart = new google.visualization.AreaChart(document.getElementById('ks-cpu-area-chart'));
            chart.draw(data, options);
        });

        

       

        function drawPieChart() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Work',     11],
                ['Eat',      2],
                ['Commute',  2],
                ['Watch TV', 2],
                ['Sleep',    7]
            ]);

            var options = {
                title: 'My Daily Activities',
                height: 242,
                chartArea: {
                    top: 50,
                    height: 180
                },
                titleTextStyle: {
                    color: '#757575',
                    fontSize: 16,
                    bold: false
                },
                legend: {
                    alignment: 'center'
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('ks-pie-chart'));
            chart.draw(data, options);
        }

      

        setTimeout(function () {
            barChartBlock.LoadingOverlay("hide");
            lineChartBlock.LoadingOverlay("hide");
        }, 1000);

      
    });
})(jQuery);
    </script>
}