﻿@using System.Web.Configuration
@{
    ViewBag.Title = "Manager";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/select2/css/select2.min.css"> <!-- Original -->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/libs/select2/select2.min.css"> <!-- Customization -->
    <style>
        .select2-container.select2-container--default .select2-results__option[aria-selected=true] {
            background-color: rgb(58, 82, 155);
            color: #fff;
        }
        .text-danger {
            color: red !important;
            font-size: 14px !important;
            font-family: serif !important;
            font-weight: 700 !important;
        }
    </style>
}






<div class="clear"></div>

<div class="ks-page-content-body">
    <div class="ks-nav-body-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12" ng-controller="NewManager">
                    <div class="card">
                        <div class="card-block">
                            <h5 class="card-title">Manager Information</h5>
                            <form name="fmNewManager" novalidate>
                                <div class="row">


                                    <div class="col-lg-12 ks-panels-column-section">
                                        <div class="form-group row">

                                            <div class="col-md-4">
                                                <label class="form-control-label">First Name <span class="required">*</span></label>
                                                <input class="form-control" type="text" ng-model="Manager.FirstName" name="txtFname" autofocus required />
                                                <div ng-show="fmNewManager.$submitted || fmNewManager.txtFname.$touched">
                                                    <span class="text-danger" ng-show="fmNewManager.txtFname.$error.required">Please enter firstname</span>
                                                </div>

                                            </div>
                                            <div class="col-md-4">

                                                <label class="form-control-label">Last Name <span class="required">*</span></label>
                                                <input class="form-control" type="text" ng-model="Manager.LastName" name="txtLname" autofocus required />
                                                <div ng-show="fmNewManager.$submitted || fmNewManager.txtLname.$touched">
                                                    <span class="text-danger" ng-show="fmNewManager.txtLname.$error.required">Please enter firstname</span>

                                                </div>
                                            </div>
                                            <div class="col-md-4">

                                                <label class="form-control-label">User Name <span class="required">*</span></label>
                                                <input class="form-control" type="text" ng-model="Manager.UserName" name="txtUserName" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                <div ng-show="fmNewManager.$submitted || fmNewManager.txtUserName.$touched">
                                                    <span class="text-danger" ng-show="fmNewManager.txtUserName.$error.required">Please enter username</span>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-4">

                                                <label class="form-control-label">Password <span class="required">*</span></label>
                                                <input class="form-control" type="password" ng-model="Manager.Password" name="txtPassword" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                <div ng-show="fmNewManager.$submitted || fmNewManager.txtPassword.$touched">
                                                    <span class="text-danger" ng-show="fmNewManager.txtPassword.$error.required">Please enter password</span>
                                                </div>

                                            </div>


                                            <div class="col-md-4">

                                                <label class="form-control-label">Email <span class="required">*</span></label>
                                                <input class="form-control" type="email" ng-model="Manager.Email" name="txtEmail" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                <div ng-show="fmNewManager.$submitted || fmNewManager.txtEmail.$touched">
                                                    <span class="text-danger" ng-show="fmNewManager.txtEmail.$error.required">Please enter email.</span>
                                                    <span class="text-danger" ng-show="fmNewManagerv.txtEmail.$error.email">Please enter valid email.</span>

                                                </div>
                                            </div>

                                            <div class="col-md-4">

                                                <label class="form-control-label">Phone <span class="required">*</span></label>
                                                <input class="form-control" ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" ng-model="Manager.Phone" name="txtPhone" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                <div ng-show="fmNewManager.$submitted || fmNewManager.txtPhone.$touched">
                                                    <span class="text-danger" ng-show="fmNewManager.txtPhone.$error.required">Please enter phone number</span>
                                                    <span class="text-danger" ng-show="fmNewManager.txtPhone.$error.pattern">Please enter valid phone number</span>

                                                </div>
                                            </div>




                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">

                                                <label class="form-control-label">Employee No <span class="required">*</span></label>
                                                <input class="form-control" type="text" ng-model="Manager.ManagerNo" name="txtEmployeNo" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                <div ng-show="fmNewManager.$submitted || fmNewManager.txtEmployeNo.$touched">
                                                    <span class="text-danger" ng-show="fmNewManager.txtEmployeNo.$error.required">Please enter employee number</span>

                                                </div>
                                            </div>
                                            <div class="col-md-4">

                                                <label class="form-control-label">Designation <span class="required">*</span></label>
                                                <input class="form-control" type="text" ng-model="Manager.Designation" name="txtDesignation" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                <div ng-show="fmNewManager.$submitted || fmNewManager.txtDesignation.$touched">
                                                    <span class="text-danger" ng-show="fmNewManager.txtDesignation.$error.required">Please enter designation</span>

                                                </div>
                                            </div>

                                            <div class="col-md-2">

                                                <label class="form-control-label">Shift Timing <span class="required">*</span></label>
                                                <select name="cmboManagerTiming" ng-model="Manager.ShiftTiming" class="form-control" ng-class="submitted?'ng-dirty':''" autofocus required>
                                                    <option ng-selected="Manager.ShiftTiming" ng-repeat="Time in AllTimingList" value="{{Time.STimingID}}">{{Time.Title}}</option>

                                                </select>
                                                <div ng-show="fmNewManager.$submitted || fmNewManager.cmboManagerTiming.$touched">
                                                    <span class="text-danger" ng-show="fmNewManager.cmboManagerTiming.$error.required">Please select valid timing</span>

                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="form-control-label">Active</label>
                                                <br />
                                                <label class="ks-checkbox-slider ks-on-off ks-warning">
                                                    <input type="checkbox" ng-model="Manager.IsActive" name="chkActive" ng-change="SetStatus(Manager.IsActive)" value="">
                                                    <span class="ks-indicator"></span>
                                                    <span class="ks-on">Yes</span>
                                                    <span class="ks-off">No</span>
                                                </label>
                                            </div>
                                        </div>

                                     
                                       
                                    </div>












                                </div>



                                <div class="row">




                                    @*<input type="file" id="upload" accept="image/*" />*@

                                    <!-- Croppie needs a container -> using 'boundary' option -->

                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card w-100-t-c">
                                            <div class="card-block">

                                                <div class="ks-items-block">


                                                    <button class="btn btn-info-outline ks-light ks-solid" ng-click="Cancel()">Cancel</button>
                                                    <button ng-disabled="!fmNewManager.$valid" type="submit" ng-click="SaveManager(Manager)" class="btn btn-success-outline ks-light ks-solid">Save</button>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

@section scripts{
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/select2/js/select2.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/custom-scripts/admin/angular/ManagerController.js"></script>
    <script>
                        //$('select.ks-select-tagging-support').select2({
                        //    tags: true
                        //});
    </script>
}