﻿
@{
    ViewBag.Title = "Manage";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using System.Web.Configuration
@section styles{
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/select2/css/select2.min.css"> <!-- Original -->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/libs/select2/select2.min.css"> <!-- Customization -->
    <style>
        .select2-container.select2-container--default .select2-results__option[aria-selected=true] {
            background-color: rgb(58, 82, 155);
            color: #fff;
        }
    </style>
}




<div class="ks-page-content-body">
    <div class="ks-nav-body-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12" ng-controller="UpdateManager">
                    <div class="card">
                        <div class="card-block">
                            <h5 class="card-title">Manager Information</h5>
                            <form name="fmUptdManager" novalidate>
                                <div class="row">
                                    
                                    <div class="col-lg-12">
                                        <div class="col-lg-6 pull-left ks-panels-column-section">
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Firstname</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="text" ng-model="Manager.FirstName" name="txtFname" autofocus required />
                                                    <div ng-show="fmUptdManager.$submitted || fmUptdManager.txtFname.$touched">
                                                        <span class="text-danger" ng-show="fmUptdManager.txtFname.$error.required">Please enter firstname</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Username</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="text" ng-model="Manager.UserName" name="txtUserName" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                    <div ng-show="fmUptdManager.$submitted || fmUptdManager.txtUserName.$touched">
                                                        <span class="text-danger" ng-show="fmUptdManager.txtUserName.$error.required">Please enter username</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Email</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="email" ng-model="Manager.Email" name="txtEmail" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                    <div ng-show="fmUptdManager.$submitted || fmUptdManager.txtEmail.$touched">
                                                        <span class="text-danger" ng-show="fmUptdManager.txtEmail.$error.required">Please enter email.</span>
                                                        <span class="text-danger" ng-show="fmUptdManagerv.txtEmail.$error.email">Please enter valid email.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Employee No</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="text" ng-model="Manager.EmployeeNo" name="txtEmployeNo" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                    <div ng-show="fmUptdManager.$submitted || fmUptdManager.txtEmployeNo.$touched">
                                                        <span class="text-danger" ng-show="fmUptdManager.txtEmployeNo.$error.required">Please enter Manager number</span>
                                                    </div>
                                                </div>
                                            </div>
                                            @*<div class="form-group row">
                    <label class="col-sm-2 form-control-label">Role</label>
                    <div class="col-sm-10">
                        <select name="cmboManagerRoles" ng-model="Manager.RoleID" class="form-control" ng-class="submitted?'ng-dirty':''" autofocus required>
                            <option ng-repeat="Role in RoleList" value="{{Role.RoleID}}">{{Role.RoleName}}</option>


                        </select>
                        <div ng-show="fmUptdManager.$submitted || fmUptdManager.cmboManagerRoles.$touched">
                            <span class="text-danger" ng-show="fmUptdManager.cmboManagerRoles.$error.required">Please select valid role</span>
                        </div>
                    </div>
                </div>*@

                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Shift Timing</label>
                                                <div class="col-sm-10">
                                                    <select name="cmboManagerTiming" ng-model="Manager.ShiftTiming" class="form-control" ng-class="submitted?'ng-dirty':''" autofocus required>
                                                        <option ng-selected="Manager.ShiftTiming" ng-repeat="Time in AllTimingList" value="{{Time.STimingID}}">{{Time.Title}}</option>

                                                    </select>
                                                    <div ng-show="fmUptdManager.$submitted || fmUptdManager.cmboManagerTiming.$touched">
                                                        <span class="text-danger" ng-show="fmUptdManager.cmboManagerTiming.$error.required">Please select valid timing</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-6 pull-right ks-panels-column-section">
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Lastname</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="text" ng-model="Manager.LastName" name="txtLname" autofocus required />
                                                    <div ng-show="fmUptdManager.$submitted || fmUptdManager.txtLname.$touched">
                                                        <span class="text-danger" ng-show="fmUptdManager.txtLname.$error.required">Please enter firstname</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Password</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="password" ng-model="Manager.Password" name="txtPassword" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                    <div ng-show="fmUptdManager.$submitted || fmUptdManager.txtPassword.$touched">
                                                        <span class="text-danger" ng-show="fmUptdManager.txtPassword.$error.required">Please enter password</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Phone</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" ng-model="Manager.Phone" name="txtPhone" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                    <div ng-show="fmUptdManager.$submitted || fmUptdManager.txtPhone.$touched">
                                                        <span class="text-danger" ng-show="fmUptdManager.txtPhone.$error.required">Please enter phone number</span>
                                                        <span class="text-danger" ng-show="fmUptdManager.txtPhone.$error.pattern">Please enter valid phone number</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Designation</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="text" ng-model="Manager.Designation" name="txtDesignation" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                    <div ng-show="fmUptdManager.$submitted || fmUptdManager.txtDesignation.$touched">
                                                        <span class="text-danger" ng-show="fmUptdManager.txtDesignation.$error.required">Please enter designation</span>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Active</label>
                                                <div class="col-sm-10">
                                                    <label class="ks-checkbox-slider ks-on-off ks-warning">
                                                        <input type="checkbox" ng-model="Manager.IsActive" name="chkActive" ng-change="SetStatus(Manager.IsActive)" value="">
                                                        <span class="ks-indicator"></span>
                                                        <span class="ks-on">Yes</span>
                                                        <span class="ks-off">No</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card w-100-t-c">
                                            <div class="card-block">

                                                <div class="ks-items-block">


                                                    <button class="btn btn-info-outline ks-light ks-solid" ng-click="Cancel()">Cancel</button>
                                                    <button ng-disabled="!fmUptdManager.$valid" type="submit" ng-click="UpdateManager(Manager)" class="btn btn-success-outline ks-light ks-solid">Update Manager</button>
                                                    <button ng-click="DeleteManager(Manager)" type="submit" class="btn btn-danger-outline ks-light ks-solid">Delete Manager</button>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/select2/js/select2.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/custom-scripts/admin/angular/ManagerController.js"></script>
    <script>
        var ManagerID=@ViewBag.ManagerID;
    </script>
}

