﻿@using System.Web.Configuration
@{
    ViewBag.Title = "Department";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="ks-page-content-body">
    <div class="ks-nav-body-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 ks-panels-column-section m-t-60 ">

                    <div class="w-60">




                        <div class="card" ng-controller="NewDepartment">
                            <div class="card-block">
                                <h5 class="card-title">New Department Form</h5>
                                <form name="FmNewDepartment" novalidate>
                                    <div class="form-group row">
                                        <label for="default-input" class="col-sm-2 form-control-label">Department name</label>
                                        <div class="col-sm-10">
                                            <input type="text" autofocus required name="DepartmentName" ng-model="Department.DepartmentName" ng-keyup="GetDepartmentShortName($event.target.value)" class="form-control">
                                            <div ng-show="FmNewDepartment.$submitted || FmNewDepartment.DepartmentName.$touched">
                                                <span class="text-danger" ng-show="FmNewDepartment.DepartmentName.$error.required">Please enter valid department name</span>
                                            </div>
                                        </div>

                                    </div>
                                    

                                    <div class="col-lg-12">
                                        <div class="card w-100-t-c">
                                            <div class="card-block">

                                                <div class="ks-items-block">


                                                    <button type="button" ng-click="Cancel()" class="btn btn-info-outline ks-light ks-solid">Cancel</button>
                                                    <button type="submit" ng-click="SaveDepartment(Department)" ng-disabled="!FmNewDepartment.$valid" class="btn btn-success-outline ks-light ks-solid">Save</button>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{


    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/custom-scripts/admin/angular/DepartmentsControler.js"></script>
}


