﻿


@using System.Web.Configuration
@{
    ViewBag.Title = "Manage";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="ks-page-content-body">
    <div class="ks-nav-body-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 ks-panels-column-section m-t-60 ">

                    <div class="w-60">




                        <div class="card" ng-controller="UpdateDepartment">
                            <div class="card-block">
                                <h5 class="card-title">Update Department Form</h5>
                                <form name="FmUpdtDepartment" novalidate>
                                    <div class="form-group row">
                                        <label for="default-input" class="col-sm-2 form-control-label">Department name</label>
                                        <div class="col-sm-10">
                                            <input type="text" autofocus required name="DepartmentName" ng-model="Department.DepartmentName" ng-keyup="GetDepartmentShortName($event.target.value)" class="form-control">
                                            <div ng-show="FmUpdtDepartment.$submitted || FmUpdtDepartment.DepartmentName.$touched">
                                                <span class="text-danger" ng-show="FmUpdtDepartment.DepartmentName.$error.required">Please enter valid department name</span>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="col-lg-12">
                                        <div class="card w-100-t-c">
                                            <div class="card-block">

                                                <div class="ks-items-block">


                                                    <button type="button" ng-click="Cancel()" class="btn btn-info-outline ks-light ks-solid">Cancel</button>
                                                    <button type="submit" ng-click="UpdateDepartment(Department)" ng-disabled="!FmUpdtDepartment.$valid" class="btn btn-success-outline ks-light ks-solid">Update</button>
                                                    <button ng-click="DeleteDepartment(Department)" type="submit" class="btn btn-danger-outline ks-light ks-solid">Delete Department</button>


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
   <script>
       var DepartmentID=@ViewBag.DeptID;
    </script>

    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/custom-scripts/admin/angular/DepartmentsControler.js"></script>
}




