﻿@using System.Web.Configuration
@{
    ViewBag.Title = "Add Practice";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles{
    @*<link rel="stylesheet" href="https://rawgit.com/rajush/angular-dropdown-multiselect/master/dist/angular-dropdownMultiselect.min.css" />*@


}
<div class="ks-page-content-body">
    <div class="ks-nav-body-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 ks-panels-column-section m-t-60 ">

                    <div class="w-60">




                        <div class="card" ng-controller="NewPractice">
                            <div class="card-block">
                                <h5 class="card-title">New Practice Form</h5>
                                <form name="FmNewPractice" novalidate>
                                    <div class="form-group row">
                                        <label for="default-input" class="col-sm-2 form-control-label">Practice name</label>
                                        <div class="col-sm-10">
                                            <input type="text" autofocus required name="PracticeName" ng-model="Practice.PracticeName" ng-keyup="GetPracticeShortName($event.target.value)" class="form-control">
                                            <div ng-show="FmNewPractice.$submitted || FmNewPractice.PracticeName.$touched">
                                                <span class="text-danger" ng-show="FmNewPractice.PracticeName.$error.required">Please select valid practice name</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <label for="default-input" class="col-sm-2 form-control-label">Practice short name</label>
                                        <div class="col-sm-10">
                                            <input type="text" autofocus readonly required name="PracticeShortName" ng-model="Practice.PracticeShortName" class="form-control">
                                            <div ng-show="FmNewPractice.$submitted || FmNewPractice.PracticeShortName.$touched">
                                                <span class="text-danger" ng-show="FmNewPractice.PracticeName.$error.required">Please select valid practice name</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <label for="default-input" class="col-sm-2 form-control-label">Practices category</label>
                                        <div class="col-sm-10">
                                            <select autofocus required id="AssignPractices" name="PracticeCategory" class="form-control" ng-model="Practice.CategoryID">
                                                <option ng-repeat="prac in PracticeCategoryList" value="{{prac.CategoryID}}">{{prac.CategoryName}}</option>
                                            </select>
                                            <div ng-show="FmNewPractice.$submitted || FmNewPractice.PracticeCategory.$touched">
                                                <span class="text-danger" ng-show="FmNewPractice.PracticeCategory.$error.required">Please select valid category</span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-12">
                                        <div class="card w-100-t-c">
                                            <div class="card-block">

                                                <div class="ks-items-block">


                                                    <button type="button" ng-click="Cancel()" class="btn btn-info-outline ks-light ks-solid">Cancel</button>
                                                    <button type="submit" ng-click="SavePractice(Practice)" ng-disabled="!FmNewPractice.$valid" class="btn btn-success-outline ks-light ks-solid">Save</button>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{


   

    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/custom-scripts/admin/angular/PracticesControler.js"></script>
}

