﻿@using System.Web.Configuration
@{
    ViewBag.Title = "Edit Practice";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles{
   

}
<div class="ks-page-content-body">
    <div class="ks-nav-body-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 ks-panels-column-section m-t-60 ">

                    <div class="w-60">




                        <div class="card" ng-controller="UpdatePractice">
                            <div class="card-block">
                                <h5 class="card-title">New Practice Form</h5>
                                <form name="fmUpdtPractice" novalidate>
                                    <div class="form-group row">
                                        <label for="default-input" class="col-sm-2 form-control-label">Practice name</label>
                                        <div class="col-sm-10">
                                            <input type="text" autofocus required name="PracticeName" ng-model="Practice.PracticeName" ng-keyup="GetPracticeShortName($event.target.value)" class="form-control">
                                            <div ng-show="fmUpdtPractice.$submitted || fmUpdtPractice.PracticeName.$touched">
                                                <span class="text-danger" ng-show="fmUpdtPractice.PracticeName.$error.required">Please select valid practice name</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <label for="default-input" class="col-sm-2 form-control-label">Practice short name</label>
                                        <div class="col-sm-10">
                                            <input type="text" autofocus readonly required name="PracticeShortName" ng-model="Practice.PracticeShortName" class="form-control">
                                            <div ng-show="FmNewPractice.$submitted || FmNewPractice.PracticeShortName.$touched">
                                                <span class="text-danger" ng-show="FmNewPractice.PracticeName.$error.required">Please select valid practice name</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <label for="default-input" class="col-sm-2 form-control-label">Practices category</label>
                                        <div class="col-sm-10">
                                            <select autofocus required id="AssignPractices" name="PracticeCategory" class="form-control" ng-model="Practice.CategoryID">
                                                <option ng-selected="Practice.CategoryID" ng-repeat="prac in PracticeCategoryList" value="{{prac.CategoryID}}">{{prac.CategoryName}}</option>
                                            </select>
                                            <div ng-show="fmUpdtPractice.$submitted || fmUpdtPractice.PracticeCategory.$touched">
                                                <span class="text-danger" ng-show="fmUpdtPractice.PracticeCategory.$error.required">Please select valid category</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="card w-100-t-c">
                                            <div class="card-block">

                                                <div class="ks-items-block">


                                                    <button ng-click="Cancel()" class="btn btn-info-outline ks-light ks-solid">Cancel</button>
                                                    <button ng-disabled="!fmUpdtPractice.$valid" ng-click="UpdatePractice(Practice)" class="btn btn-success-outline ks-light ks-solid">Update</button>
                                                    <button ng-click="DeletePractice(Practice)" type="submit" class="btn btn-danger-outline ks-light ks-solid">Delete</button>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
 
    <!-- END THEME LAYOUT SCRIPTS -->
    <script>
        var PracticeID = @ViewBag.PracticeID;


    </script>
    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/custom-scripts/admin/angular/PracticesControler.js"></script>
}

