﻿@using System.Web.Configuration
@{
    ViewBag.Title = "Manage Practices";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/datatables-net/media/css/dataTables.bootstrap4.min.css"> <!-- original -->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/datatables-net/extensions/buttons/css/buttons.bootstrap4.min.css"> <!-- original -->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/libs/datatables-net/datatables.min.css"> <!-- customization -->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/select2/css/select2.min.css"> <!-- Original -->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/libs/select2/select2.min.css"> <!-- Customization -->

}

<div class="ks-nav-body">
    <div class="ks-nav-body-wrapper">
        <div class="container-fluid" ng-controller="PracticeDetailList">
            <table id="practice-datatable" class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th data-field="PracticeID">ID</th>
                        <th>Practice Name</th>
                        <th>Practice Category</th>
                        <th>Action</th>

                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/datatables-net/media/js/jquery.dataTables.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/datatables-net/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/datatables-net/extensions/buttons/js/dataTables.buttons.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/datatables-net/extensions/buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/jszip/jszip.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/pdfmake/pdfmake.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/pdfmake/vfs_fonts.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/datatables-net/extensions/buttons/js/buttons.html5.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/datatables-net/extensions/buttons/js/buttons.print.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/datatables-net/extensions/buttons/js/buttons.colVis.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/select2/js/select2.min.js"></script>

    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/custom-scripts/admin/angular/PracticesControler.js"></script>


    <script type="application/javascript">
        @*(function ($) {
            var data = [


                {
                    "id": 1,
                    "PracticeName": "Item 6",
                    "PracticeCategory": "$6",

                },
            {
                    "id": 2,
                    "PracticeName": "Item 6",
                    "PracticeCategory": "$6",

                }

            ];

            $(document).ready(function() {
                $('#tbl-practice-detail').bootstrapTable({
                    data: data,
                    icons: {
                        refresh: 'la la-refresh icon-refresh',
                        toggle: 'la la-list-alt icon-list-alt',
                        columns: 'la la-th icon-th',
                        share: 'la la-download icon-share'
                    }
                });
            });
        })(jQuery);*@
    </script>
}
