﻿    @using System.Web.Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @WebConfigurationManager.AppSettings["S_SYSName"]</title>
    <style>
    </style>

    <link href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/libs/sweetalert/sweetalert.min.css" rel="stylesheet" />
    <link href="@WebConfigurationManager.AppSettings["Theme"]libs/sweetalert/sweetalert.css" rel="stylesheet" />

    <link href="~/StyleSheet1.css" rel="stylesheet" />

    @RenderSection("styles", required: false)

</head>
<body ng-app="PMS" class="ks-navbar-fixed ks-sidebar-default ks-sidebar-fixed ks-theme-primary ks-page-loading">
    <div id="loader" class="loader-container">
        <div class="lds-hourglass"></div>
    </div>
    @Html.Partial("_header")
    <div class="ks-container">
        @*@Html.Partial("_sidebar")*@
        <div class="ks-column ks-page">
            <div class="ks-header">
                <!-- add "ks-header-with-addon" class if you need an addon -->
                <section class="ks-title">
                    <h3>@ViewBag.Title</h3>

                    <div class="ks-controls">
                        <nav class="breadcrumb ks-default">
                            <a class="breadcrumb-item ks-breadcrumb-icon" href="@Url.Action("dashboard","home",new { Area=""})">
                                <span class="fa fa-home ks-icon"></span>
                            </a>
                            <span class="breadcrumb-item active">@ViewBag.Title</span>
                        </nav>

                    </div>
                </section>
                <!-- Uncomment if you need an addon
                <section class="ks-addon">
                    <div class="btn-group ks-addon-block" data-toggle="buttons">
                        <label class="btn btn-primary-outline ks-light">
                            <input type="radio" name="options" autocomplete="off"> Today
                        </label>
                        <label class="btn btn-primary-outline ks-light">
                            <input type="radio" name="options" autocomplete="off"> Week
                        </label>
                        <label class="btn btn-primary-outline ks-light active">
                            <input type="radio" name="options" autocomplete="off" checked> Month
                        </label>
                        <label class="btn btn-primary-outline ks-light">
                            <input type="radio" name="options" autocomplete="off"> Year
                        </label>
                    </div>

                    <div class="ks-addon-block ks-addon-actions">
                        <span class="ks-page-header-text">
                            <span class="ks-icon fa fa-undo"></span> 5 minutes ago
                        </span>
                        <button class="btn btn-success">
                            <span class="fa fa-plus ks-icon ks-sm"></span>
                            <span class="ks-text">Add widget</span>
                        </button>
                        <button class="btn btn-primary-outline ks-light">
                            <span class="fa fa-pencil ks-icon ks-sm"></span>
                            <span class="ks-text">Edit</span>
                        </button>
                    </div>
                </section>
                -->
            </div>
            <div class="ks-content">
                <div class="ks-body">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>







    @Scripts.Render("~/bundles/angular")
    <script src="@WebConfigurationManager.AppSettings["Url"]/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Url"]/Scripts/angular-animate.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Url"]/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/custom-scripts/App.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/sweetalert/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.21.5.min.js"></script>
    <script src="~/Scripts/custom-scripts/NotifyPubnub.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/ng-file-upload-shim.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="//rawgit.com/Foliotek/Croppie/master/croppie.js"></script>
    <script type="text/javascript" src="//rawgit.com/lpsBetty/angular-croppie/master/angular-croppie.js"></script>
    <script type="text/javascript">
        var EmployeeID=(@Session["EmployeeID"]!=null?@Session["EmployeeID"]:"");
    </script>
    @RenderSection("scripts", required: false)
    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/notify.js"></script>

</body>
</html>






