﻿@{
    var currentRequest = Request.Url.AbsolutePath;
}
@using System.Web.Configuration  <!-- BEGIN DEFAULT SIDEBAR -->
<div class="ks-column ks-sidebar ks-info">
    <div class="ks-wrapper">
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-item ks-user dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">

                    <img src="@WebConfigurationManager.AppSettings["Url"]/Uploads/@Session["ProfilePic"]" width="36" height="36" class="ks-avatar rounded-circle">

                    <div class="ks-info">
                        <div class="ks-name">@Session["FirstName"] @Session["LastName"]</div>
                        <div class="ks-text">@Session["Designation"]</div>
                    </div>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="#">Settings</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle   @(currentRequest=="/home/index"? "active":"")" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="ks-icon fa fa-dashboard"></span>
                    <span>Dashboard</span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="@Url.Action("dashboard","home",new { Area=""})">Home</a>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="ks-icon fa fa-cubes"></span>
                    <span>Productivity</span>
                </a>
                <div class="dropdown-menu">

                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span>Practice Claims & Count</span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="@Url.Action("assignments","productivity",new { Area=""})" target="_blank">Assignments & Log</a>
                           

                        </div>
                    </div>
                   
                </div>
            </li>

        </ul>
    </div>
</div>
<!-- END DEFAULT SIDEBAR -->
