﻿@using System.Web.Configuration
@{
    ViewBag.Title = "New User";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/select2/css/select2.min.css"> <!-- Original -->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/libs/select2/select2.min.css"> <!-- Customization -->
    <style>
        .select2-container.select2-container--default .select2-results__option[aria-selected=true] {
            background-color: rgb(58, 82, 155);
            color: #fff;
        }
    </style>
}




<div class="ks-page-content-body">
    <div class="ks-nav-body-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12" ng-controller="NewUser">
                    <div class="card">
                        <div class="card-block">
                            <h5 class="card-title">User Information</h5>
                            <form name="fmNewUser" novalidate>
                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="col-lg-6 pull-left ks-panels-column-section">
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Firstname</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="text" ng-model="User.FirstName" name="txtFname" autofocus required />
                                                    <div ng-show="fmNewUser.$submitted || fmNewUser.txtFname.$touched">
                                                        <span class="text-danger" ng-show="fmNewUser.txtFname.$error.required">Please enter firstname</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Username</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="text" ng-model="User.UserName" name="txtUserName" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                    <div ng-show="fmNewUser.$submitted || fmNewUser.txtUserName.$touched">
                                                        <span class="text-danger" ng-show="fmNewUser.txtUserName.$error.required">Please enter username</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Email</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="email" ng-model="User.Email" name="txtEmail" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                    <div ng-show="fmNewUser.$submitted || fmNewUser.txtEmail.$touched">
                                                        <span class="text-danger" ng-show="fmNewUser.txtEmail.$error.required">Please enter email.</span>
                                                        <span class="text-danger" ng-show="fmNewUserv.txtEmail.$error.email">Please enter valid email.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Employee No</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="text" ng-model="User.EmployeeNo" name="txtEmployeNo" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                    <div ng-show="fmNewUser.$submitted || fmNewUser.txtEmployeNo.$touched">
                                                        <span class="text-danger" ng-show="fmNewUser.txtEmployeNo.$error.required">Please enter employee number</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Role</label>
                                                <div class="col-sm-10">
                                                    <select name="cmboUserRoles" ng-model="User.RoleID" class="form-control" ng-class="submitted?'ng-dirty':''" autofocus required>
                                                        <option ng-repeat="Role in RoleList" value="{{Role.RoleID}}">{{Role.RoleName}}</option>


                                                    </select>
                                                    <div ng-show="fmNewUser.$submitted || fmNewUser.cmboUserRoles.$touched">
                                                        <span class="text-danger" ng-show="fmNewUser.cmboUserRoles.$error.required">Please select valid role</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div ng-if="User.RoleID==2" class="form-group row">
                                                <label class="col-sm-2 form-control-label">Shift Timing</label>
                                                <div class="col-sm-10">
                                                    <select name="cmboUserTiming" ng-model="User.ShiftTiming" class="form-control" ng-class="submitted?'ng-dirty':''" autofocus required>
                                                        <option ng-selected="User.ShiftTiming" ng-repeat="Time in AllTimingList" value="{{Time.STimingID}}">{{Time.Title}}</option>

                                                    </select>
                                                    <div ng-show="fmNewUser.$submitted || fmNewUser.cmboUserTiming.$touched">
                                                        <span class="text-danger" ng-show="fmNewUser.cmboUserTiming.$error.required">Please select valid timing</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="User.RoleID==2" class="form-group row">
                                                <label class="col-sm-2 form-control-label">Practices</label>
                                                <div class="col-sm-10">
                                                    <select ng-model="User.Practices" multiple id="AssignPractices" class="form-control ks-select-tagging-support">
                                                        <option ng-repeat="prac in AllPracticesList" value="{{prac.PracticeID}}">{{prac.PracticeName}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 pull-right ks-panels-column-section">
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Lastname</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="text" ng-model="User.LastName" name="txtLname" autofocus required />
                                                    <div ng-show="fmNewUser.$submitted || fmNewUser.txtLname.$touched">
                                                        <span class="text-danger" ng-show="fmNewUser.txtLname.$error.required">Please enter firstname</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Password</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="password" ng-model="User.Password" name="txtPassword" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                    <div ng-show="fmNewUser.$submitted || fmNewUser.txtPassword.$touched">
                                                        <span class="text-danger" ng-show="fmNewUser.txtPassword.$error.required">Please enter password</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Phone</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" ng-model="User.Phone" name="txtPhone" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                    <div ng-show="fmNewUser.$submitted || fmNewUser.txtPhone.$touched">
                                                        <span class="text-danger" ng-show="fmNewUser.txtPhone.$error.required">Please enter phone number</span>
                                                        <span class="text-danger" ng-show="fmNewUser.txtPhone.$error.pattern">Please enter valid phone number</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Designation</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="text" ng-model="User.Designation" name="txtDesignation" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                    <div ng-show="fmNewUser.$submitted || fmNewUser.txtDesignation.$touched">
                                                        <span class="text-danger" ng-show="fmNewUser.txtDesignation.$error.required">Please enter designation</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div ng-if="User.RoleID==2" class="form-group row" style="margin-top: 46px;">
                                                <label class="col-sm-2 form-control-label">Department</label>
                                                <div class="col-sm-10">
                                                    <select name="DepartmentID" ng-model="User.DepartmentID" class="form-control" ng-class="submitted?'ng-dirty':''" autofocus required>

                                                        <option ng-repeat="Dept in DepartmentList" value="{{Dept.DepartmentID}}">{{Dept.DepartmentName}}</option>
                                                    </select>
                                                    <div ng-show="fmNewUser.$submitted || fmNewUser.cmboUserDepartment.$touched">
                                                        <span class="text-danger" ng-show="fmNewUser.cmboUserDepartment.$error.required">Please select valid department</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Active</label>
                                                <div class="col-sm-10">
                                                    <label class="ks-checkbox-slider ks-on-off ks-warning">
                                                        <input type="checkbox" ng-model="User.IsActive" name="chkActive" ng-change="SetStatus(User.IsActive)" value="">
                                                        <span class="ks-indicator"></span>
                                                        <span class="ks-on">Yes</span>
                                                        <span class="ks-off">No</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card w-100-t-c">
                                            <div class="card-block">

                                                <div class="ks-items-block">


                                                    <button class="btn btn-info-outline ks-light ks-solid" ng-click="Cancel()">Cancel</button>
                                                    <button ng-disabled="!fmNewUser.$valid" type="submit" ng-click="SaveUser(User)" class="btn btn-success-outline ks-light ks-solid">Save</button>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/select2/js/select2.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/custom-scripts/admin/angular/UsersController.js"></script>
    <script>
        //$('select.ks-select-tagging-support').select2({
        //    tags: true
        //});
    </script>
}

