﻿@using System.Web.Configuration
@{
    ViewBag.Title = "Update User";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles{
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/bootstrap/css/bootstrap.min.css">
    <!--    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Url"]Content/bootstrap-select.css">-->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/font-awesome/css/font-awesome.min.css">
    <!--<link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/fonts/open-sans/styles.css">-->
    <!--    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/fonts/open-sans/styles.css">
        <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/fonts/montserrat/styles.css">-->

    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/tether/css/tether.min.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/jscrollpane/jquery.jscrollpane.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/common.min.css">
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/themes/primary.min.css">
    <!--    <link class="ks-sidebar-dark-style" rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/themes/sidebar-black.min.css">-->
    <!-- END THEME STYLES -->
}




<div class="ks-page-content-body">
    <div class="ks-nav-body-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12" ng-controller="UpdateUser">
                    <div class="card">
                        <div class="card-block">
                            <h5 class="card-title">User Information</h5>
                            <form name="fmUpdtUser" novalidate>
                                <div class="row">
                                    
                                    <div class="col-lg-12">
                                        <div class="col-lg-6 pull-left ks-panels-column-section">
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Firstname</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="text" ng-model="User.FirstName" name="txtFname" autofocus required />
                                                    <div ng-show="fmUpdtUser.$submitted || fmUpdtUser.txtFname.$touched">
                                                        <span class="text-danger" ng-show="fmUpdtUser.txtFname.$error.required">Please enter firstname</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Username</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="text" ng-model="User.UserName" name="txtUserName" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                    <div ng-show="fmUpdtUser.$submitted || fmUpdtUser.txtUserName.$touched">
                                                        <span class="text-danger" ng-show="fmUpdtUser.txtUserName.$error.required">Please enter username</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Email</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="email" ng-model="User.Email" name="txtEmail" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                    <div ng-show="fmUpdtUser.$submitted || fmUpdtUser.txtEmail.$touched">
                                                        <span class="text-danger" ng-show="fmUpdtUser.txtEmail.$error.required">Please enter email.</span>
                                                        <span class="text-danger" ng-show="fmUpdtUserv.txtEmail.$error.email">Please enter valid email.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Employee No</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="text" ng-model="User.EmployeeNo" name="txtEmployeNo" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                    <div ng-show="fmUpdtUser.$submitted || fmUpdtUser.txtEmployeNo.$touched">
                                                        <span class="text-danger" ng-show="fmUpdtUser.txtEmployeNo.$error.required">Please enter employee number</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Role</label>
                                                <div class="col-sm-10">
                                                    <select name="cmboUserRoles" ng-model="User.RoleID" class="form-control" ng-class="submitted?'ng-dirty':''" autofocus required>

                                                        <option ng-selected="User.RoleID" ng-repeat="Role in RoleList" value="{{Role.RoleID}}">{{Role.RoleName}}</option>

                                                    </select>
                                                    <div ng-show="fmUpdtUser.$submitted || fmUpdtUser.cmboUserRoles.$touched">
                                                        <span class="text-danger" ng-show="fmUpdtUser.cmboUserRoles.$error.required">Please select valid role</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div ng-if="User.RoleID==2" class="form-group row">
                                                <label class="col-sm-2 form-control-label">Shift Timing</label>
                                                <div class="col-sm-10">
                                                    <select name="cmboUserTiming" ng-model="User.ShiftTiming" class="form-control" ng-class="submitted?'ng-dirty':''" autofocus required>
                                                        <option ng-selected="User.ShiftTiming" ng-repeat="Time in AllTimingList" value="{{Time.STimingID}}">{{Time.Title}}</option>

                                                    </select>
                                                    <div ng-show="fmUpdtUser.$submitted || fmUpdtUser.cmboUserTiming.$touched">
                                                        <span class="text-danger" ng-show="fmUpdtUser.cmboUserTiming.$error.required">Please select valid timing</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div ng-if="User.RoleID==2" class="form-group row">
                                                <label class="col-sm-2 form-control-label">Practices</label>
                                                <div class="col-sm-10">
                                                    <select ng-model="User.Practices" multiple id="AssignPractices" class="form-control">
                                                        <option ng-selected="UserPractices" ng-repeat="prac in AllPracticesList" value="{{prac.PracticeID}}">{{prac.PracticeName}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 pull-right ks-panels-column-section">
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Lastname</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="text" ng-model="User.LastName" name="txtLname" autofocus required />
                                                    <div ng-show="fmUpdtUser.$submitted || fmUpdtUser.txtLname.$touched">
                                                        <span class="text-danger" ng-show="fmUpdtUser.txtLname.$error.required">Please enter firstname</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Password</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" ng-init="''" value="''" type="password" ng-model="User.Password" name="txtPassword" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                    <div ng-show="fmUpdtUser.$submitted || fmUpdtUser.txtPassword.$touched">
                                                        <span class="text-danger" ng-show="fmUpdtUser.txtPassword.$error.required">Please enter password</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Phone</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" ng-model="User.Phone" name="txtPhone" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                    <div ng-show="fmUpdtUser.$submitted || fmUpdtUser.txtPhone.$touched">
                                                        <span class="text-danger" ng-show="fmUpdtUser.txtPhone.$error.required">Please enter phone number</span>
                                                        <span class="text-danger" ng-show="fmUpdtUser.txtPhone.$error.pattern">Please enter valid phone number</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Designation</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="text" ng-model="User.Designation" name="txtDesignation" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                    <div ng-show="fmUpdtUser.$submitted || fmUpdtUser.txtDesignation.$touched">
                                                        <span class="text-danger" ng-show="fmUpdtUser.txtDesignation.$error.required">Please enter designation</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div ng-if="User.RoleID==2" class="form-group row" style="margin-top: 46px;">
                                                <label class="col-sm-2 form-control-label">Department</label>
                                                <div class="col-sm-10">
                                                    <select name="DepartmentID"  ng-model="User.DepartmentID" class="form-control" ng-class="submitted?'ng-dirty':''" autofocus required>

                                                        <option ng-selected="User.DepartmentID" ng-repeat="Dept in DepartmentList" value="{{Dept.DepartmentID}}">{{Dept.DepartmentName}}</option>
                                                    </select>
                                                    <div ng-show="fmUpdtUser.$submitted || fmUpdtUser.cmboUserDepartment.$touched">
                                                        <span class="text-danger" ng-show="fmUpdtUser.cmboUserDepartment.$error.required">Please select valid department</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 form-control-label">Active</label>
                                                <div class="col-sm-10">
                                                    <label class="ks-checkbox-slider ks-on-off ks-warning">
                                                        <input type="checkbox" ng-checked="User.IsActive" ng-model="User.IsActive" name="chkActive" ng-change="SetStatus(User.IsActive)" value="">
                                                        <span class="ks-indicator"></span>
                                                        <span class="ks-on">Yes</span>
                                                        <span class="ks-off">No</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card w-100-t-c">
                                            <div class="card-block">

                                                <div class="ks-items-block">


                                                    <button class="btn btn-info-outline ks-light ks-solid" ng-click="Cancle()">Cancle</button>
                                                    <button ng-disabled="!fmUpdtUser.$valid"  ng-click="UpdateUser(User)" type="submit" class="btn btn-success-outline ks-light ks-solid">Save</button>
                                                    <button ng-click="DeleteUser(User)"  type="submit" class="btn btn-danger-outline ks-light ks-solid">Delete</button>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


@section scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->

    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/jquery/jquery.min.js"></script>

    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/responsejs/response.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/loading-overlay/loadingoverlay.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/tether/js/tether.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/jscrollpane/jquery.jscrollpane.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/jscrollpane/jquery.mousewheel.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/flexibility/flexibility.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/noty/noty.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/velocity/velocity.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="@WebConfigurationManager.AppSettings["Theme"]assets/scripts/common.min.js"></script>
    <!--<script type="text/javascript">
    $("AssignPractices").multipleSelect();
    </script>-->
    <!-- END THEME LAYOUT SCRIPTS -->
    <!-- angular scripts -->
    <script>
        var UserID=@ViewBag.UserID;
       

    </script>
    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/custom-scripts/admin/angular/UsersController.js"></script>
    
}

