﻿@{
    ViewBag.Title = "Manage Users";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using System.Web.Configuration
@section styles{
    @*<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">*@

    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/datatables-net/media/css/dataTables.bootstrap4.min.css"> <!-- original -->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/datatables-net/extensions/buttons/css/buttons.bootstrap4.min.css"> <!-- original -->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/libs/datatables-net/datatables.min.css"> <!-- customization -->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/select2/css/select2.min.css"> <!-- Original -->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/libs/select2/select2.min.css"> <!-- Customization -->
<style>
    #ks-datatable td, #ks-datatable th {
        padding: 9px;
        margin: 0;
        text-align: center;
        white-space: nowrap;
    }
    div.dataTables_wrapper th.sorting::after, div.dataTables_wrapper th.sorting::before, div.dataTables_wrapper th.sorting_asc::after, div.dataTables_wrapper th.sorting_asc::before, div.dataTables_wrapper th.sorting_desc::after, div.dataTables_wrapper th.sorting_desc::before  {
        font-size: 21px;
        bottom: .5em;
        right: 0px;
        top: 2px;
        color: #3a529b;
    }
    .dataTables_processing {
        background: #3a529b;
        color: white;
        font-size: 15px;
        font-style: italic;
        font-family: monospace;
    }
    </style>
}

<div class="ks-page-content-body">
    <div class="ks-nav-body-wrapper">
        <div class="container-fluid" ng-controller="EmployeeDetailList">

            <div class="ks-nav-body">
                <table id="ks-datatable" class="table table-responsive table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>UserID</th>
                            <th> Name</th>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Employee No</th>
                            <th>Designation</th>
                            <th>Department Name</th>
                            <th>Role</th>
                            <th>Title</th>
                            <th>Status</th>
                            <th >Action</th>
                        </tr>
                    </thead>
                    @*<tfoot>
                            <tr>
                                <th>UserID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>User Name</th>
                                <th>Email</th>
                                <th>Employee No</th>
                                <th>Designation</th>
                                <th>Department Name</th>
                                <th>Role</th>
                                <th>Title</th>
                                <th>Status</th>
                                 <th>Action</th>
                            </tr>
                        </tfoot>*@

                </table>
            </div>
        </div>

    </div>
</div>
@section scripts{

    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/datatables-net/media/js/jquery.dataTables.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/datatables-net/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/datatables-net/extensions/buttons/js/dataTables.buttons.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/datatables-net/extensions/buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/jszip/jszip.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/pdfmake/pdfmake.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/pdfmake/vfs_fonts.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/datatables-net/extensions/buttons/js/buttons.html5.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/datatables-net/extensions/buttons/js/buttons.print.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/datatables-net/extensions/buttons/js/buttons.colVis.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/select2/js/select2.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/custom-scripts/admin/angular/UsersController.js"></script>

    <script type="application/javascript">



    </script>
}