﻿@using System.Web.Configuration
@{
    ViewBag.Title = "Employee";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles{

    <link href="~/Scripts/image-cropper/croppie.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/izi-modal/css/iziModal.min.css"> <!-- Original -->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/libs/izi-modal/izi-modal.min.css"> <!-- Original -->

    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/select2/css/select2.min.css"> <!-- Original -->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/libs/select2/select2.min.css"> <!-- Customization -->
    <style>
        .select2-container.select2-container--default .select2-results__option[aria-selected=true] {
            background-color: rgb(58, 82, 155);
            color: #fff;
        }

        .fade {
            z-index: 1050;
            display: block;
            background: #000000c9;
            opacity: 50;
        }

        .modal-dialog {
            top: 212px;
        }

        .modal-lg {
            max-width: 90%;
        }

        



        .text-danger {
            color: red !important;
            font-size: 14px !important;
            font-family: serif !important;
            font-weight: 700 !important;
        }
    </style>
}



<div class="clear"></div>

<div class="ks-page-content-body">
    <div class="ks-nav-body-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12" ng-controller="NewEmployee">
                    <div class="card">
                        <div class="card-block">
                            <h5 class="card-title">Employee Information</h5>
                            <form name="fmNewEmployee" novalidate>
                                <div class="row">


                                    <div class="col-lg-12 ks-panels-column-section">
                                        <div class="form-group row">

                                            <div class="col-md-4">
                                                <label class="form-control-label">First Name <span class="required">*</span></label>
                                                <input class="form-control" type="text" ng-model="Employee.FirstName" name="txtFname" autofocus required />
                                                <div ng-show="fmNewEmployee.$submitted || fmNewEmployee.txtFname.$touched">
                                                    <span class="text-danger" ng-show="fmNewEmployee.txtFname.$error.required">Please enter firstname</span>
                                                </div>

                                            </div>
                                            <div class="col-md-4">

                                                <label class="form-control-label">Last Name <span class="required">*</span></label>
                                                <input class="form-control" type="text" ng-model="Employee.LastName" name="txtLname" autofocus required />
                                                <div ng-show="fmNewEmployee.$submitted || fmNewEmployee.txtLname.$touched">
                                                    <span class="text-danger" ng-show="fmNewEmployee.txtLname.$error.required">Please enter firstname</span>

                                                </div>
                                            </div>
                                            <div class="col-md-4">

                                                <label class="form-control-label">User Name <span class="required">*</span></label>
                                                <input class="form-control" type="text" ng-model="Employee.UserName" name="txtUserName" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                <div ng-show="fmNewEmployee.$submitted || fmNewEmployee.txtUserName.$touched">
                                                    <span class="text-danger" ng-show="fmNewEmployee.txtUserName.$error.required">Please enter username</span>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-4">

                                                <label class="form-control-label">Password <span class="required">*</span></label>
                                                <input class="form-control" type="password" ng-model="Employee.Password" name="txtPassword" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                <div ng-show="fmNewEmployee.$submitted || fmNewEmployee.txtPassword.$touched">
                                                    <span class="text-danger" ng-show="fmNewEmployee.txtPassword.$error.required">Please enter password</span>
                                                </div>

                                            </div>


                                            <div class="col-md-4">

                                                <label class="form-control-label">Email <span class="required">*</span></label>
                                                <input class="form-control" type="email" ng-model="Employee.Email" name="txtEmail" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                <div ng-show="fmNewEmployee.$submitted || fmNewEmployee.txtEmail.$touched">
                                                    <span class="text-danger" ng-show="fmNewEmployee.txtEmail.$error.required">Please enter email.</span>
                                                    <span class="text-danger" ng-show="fmNewEmployeev.txtEmail.$error.email">Please enter valid email.</span>

                                                </div>
                                            </div>

                                            <div class="col-md-4">

                                                <label class="form-control-label">Phone <span class="required">*</span></label>
                                                <input class="form-control" ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" ng-model="Employee.Phone" name="txtPhone" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                <div ng-show="fmNewEmployee.$submitted || fmNewEmployee.txtPhone.$touched">
                                                    <span class="text-danger" ng-show="fmNewEmployee.txtPhone.$error.required">Please enter phone number</span>
                                                    <span class="text-danger" ng-show="fmNewEmployee.txtPhone.$error.pattern">Please enter valid phone number</span>

                                                </div>
                                            </div>




                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">

                                                <label class="form-control-label">Employee No <span class="required">*</span></label>
                                                <input class="form-control" type="text" ng-model="Employee.EmployeeNo" name="txtEmployeNo" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                <div ng-show="fmNewEmployee.$submitted || fmNewEmployee.txtEmployeNo.$touched">
                                                    <span class="text-danger" ng-show="fmNewEmployee.txtEmployeNo.$error.required">Please enter employee number</span>

                                                </div>
                                            </div>
                                            <div class="col-md-4">

                                                <label class="form-control-label">Designation <span class="required">*</span></label>
                                                <input class="form-control" type="text" ng-model="Employee.Designation" name="txtDesignation" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                <div ng-show="fmNewEmployee.$submitted || fmNewEmployee.txtDesignation.$touched">
                                                    <span class="text-danger" ng-show="fmNewEmployee.txtDesignation.$error.required">Please enter designation</span>

                                                </div>
                                            </div>

                                            <div class="col-md-4">

                                                <label class="form-control-label">Shift Timing <span class="required">*</span></label>
                                                <select name="cmboEmployeeTiming" ng-model="Employee.ShiftTiming" class="form-control" ng-class="submitted?'ng-dirty':''" autofocus required>
                                                    <option ng-selected="Employee.ShiftTiming" ng-repeat="Time in AllTimingList" value="{{Time.STimingID}}">{{Time.Title}}</option>

                                                </select>
                                                <div ng-show="fmNewEmployee.$submitted || fmNewEmployee.cmboEmployeeTiming.$touched">
                                                    <span class="text-danger" ng-show="fmNewEmployee.cmboEmployeeTiming.$error.required">Please select valid timing</span>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">


                                            <div class="col-md-4">

                                                <label class="form-control-label">Department</label>
                                                <select name="DepartmentID" ng-model="Employee.DepartmentID" class="form-control" ng-class="submitted?'ng-dirty':''" autofocus required>

                                                    <option ng-repeat="Dept in DepartmentList" value="{{Dept.DepartmentID}}">{{Dept.DepartmentName}}</option>
                                                </select>
                                                <div ng-show="fmNewEmployee.$submitted || fmNewEmployee.cmboEmployeeDepartment.$touched">
                                                    <span class="text-danger" ng-show="fmNewEmployee.cmboEmployeeDepartment.$error.required">Please select valid department</span>

                                                </div>
                                            </div>
                                            <div class="col-md-4">

                                                <label class="form-control-label">Practices <span class="required">*</span></label>
                                                <select ng-model="Employee.Practices" multiple id="AssignPractices" class="form-control ">
                                                    <option ng-repeat="prac in AllPracticesList" value="{{prac.PracticeID}}">{{prac.PracticeName}}</option>
                                                </select>

                                            </div>
                                            <div class="col-md-4">

                                                <label class="form-control-label">Active</label>
                                                <br />
                                                <label class="ks-checkbox-slider ks-on-off ks-warning">
                                                    <input type="checkbox" ng-model="Employee.IsActive" name="chkActive" ng-change="SetStatus(Employee.IsActive)" value="">
                                                    <span class="ks-indicator"></span>
                                                    <span class="ks-on">Yes</span>
                                                    <span class="ks-off">No</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <div class="form-group" row>
                                                    <div class="card panel ks-widget-attachments">
                                                        <div class="card-block">
                                                            <h5 class="ks-header">Add an image</h5>

                                                            <div class="ks-upload-block">
                                                                <span class="ks-icon fa fa-cloud-upload"></span>
                                                                <span class="ks-text">Drag &amp; drop files here</span>
                                                                <span class="ks-upload-btn">
                                                                    <span class="ks-btn-separator">or</span>
                                                                    <button class="btn btn-primary ks-btn-file">
                                                                        <span class="fa fa-cloud-upload ks-icon"></span>
                                                                        <span class="ks-text">Choose file</span>
                                                                        <input type="file" name="file" id="upload" accept="image/*" />
                                                                    </button>
                                                                </span>
                                                            </div>



                                                            <div ng-if="CropedProfileImage">
                                                                <h5 class="ks-header">Uploaded images</h5>

                                                                <div class="ks-files">
                                                                    <ul>
                                                                        <li class="ks-file">
                                                                            <img class="ks-thumb" src="{{CropedProfileImage}}">
                                                                            <a class="ks-icon fa fa-trash" ng-click="CancelImage()"></a>
                                                                        </li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>












                                </div>



                                <div class="row">




                                    @*<input type="file" id="upload" accept="image/*" />*@

                                    <!-- Croppie needs a container -> using 'boundary' option -->

                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card w-100-t-c">
                                            <div class="card-block">

                                                <div class="ks-items-block">


                                                    <button class="btn btn-info-outline ks-light ks-solid" ng-click="Cancel()">Cancel</button>
                                                    <button ng-disabled="!fmNewEmployee.$valid" type="submit" ng-click="SaveEmployee(Employee)" class="btn btn-success-outline ks-light ks-solid">Save</button>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>






<script type="text/ng-template" id="ProfilePicUploadTmp">
    <div class="modal-header">
        <h3 class="modal-title">Profile Image!</h3>
    </div>

    <div class="modal-body">
        <div class="col-md-12">
            <div class="col-md-6" style="float:left">
                <croppie ng-if="cropped.source" src="cropped.source" ng-model="cropped.cropedimage" options="{boundary:{width:300,height:350}}"></croppie>

            </div>
            <div class="col-md-6" style="float:left">
                <img ng-src="{{cropped.cropedimage}}" />

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="Cropedone(cropped)">Ok,Done</button>
        <button class="btn btn-danger" type="button" ng-click="Cancel()">Cancel</button>
    </div>

</script>

@section scripts{


    @*<link href="~/Scripts/ngimagecrop.css" rel="stylesheet" />
        <script src="~/Scripts/ngImgCrop.js"></script>*@
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/izi-modal/js/iziModal.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/image-cropper/croppie.js"></script>

    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/select2/js/select2.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/custom-scripts/admin/angular/EmployeeController.js"></script>
    <script>
                                                                                                        //$('select.ks-select-tagging-support').select2({
                                                                                                        //    tags: true
                                                                                                        //});
    </script>
}

