﻿@using System.Web.Configuration
@{
    ViewBag.Title = "Manage";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/select2/css/select2.min.css"> <!-- Original -->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/libs/select2/select2.min.css"> <!-- Customization -->
    <style>
        /*.select2-container.select2-container--default .select2-results__option[aria-selected=true] {
            background-color: rgb(58, 82, 155);
            color: #fff;
        }
        option:checked {
            color: red;
        }
        .form-control:read-only {
            background-color: #ffffff;
            border: solid 1px #c4cbe1;
        }*/
    </style>
}
<div class="ks-page-content-body">
    <div class="ks-nav-body-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12" ng-controller="UpdateEmployee">
                    <div class="card">
                        <div class="card-block">
                            <h5 class="card-title">Employee Information</h5>
                            <form name="fmUpdtEmployee" novalidate>
                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="col-lg-12 pull-left ks-panels-column-section">
                                            <div class="form-group row">

                                                <div class="col-md-4">
                                                    <label class="form-control-label">First Name <span class="required">*</span></label>
                                                    
                                                        <input class="form-control" type="text" ng-model="Employee.FirstName" name="txtFname" autofocus required />
                                                        <div ng-show="fmUpdtEmployee.$submitted || fmUpdtEmployee.txtFname.$touched">
                                                            <span class="text-danger" ng-show="fmUpdtEmployee.txtFname.$error.required">Please enter firstname</span>
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="form-control-label">Last Name <span class="required">*</span></label>
                                                    
                                                        <input class="form-control" type="text" ng-model="Employee.LastName" name="txtLname" autofocus required />
                                                        <div ng-show="fmUpdtEmployee.$submitted || fmUpdtEmployee.txtLname.$touched">
                                                            <span class="text-danger" ng-show="fmUpdtEmployee.txtLname.$error.required">Please enter firstname</span>
                                                        </div>
                                                    
                                                </div>
                                                <div class="col-md-4">

                                                    <label class="form-control-label">User Name <span class="required">*</span></label>
                                                    
                                                        <input class="form-control" type="text" ng-model="Employee.UserName" name="txtUserName" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                        <div ng-show="fmUpdtEmployee.$submitted || fmUpdtEmployee.txtUserName.$touched">
                                                            <span class="text-danger" ng-show="fmUpdtEmployee.txtUserName.$error.required">Please enter Employeename</span>
                                                        </div>
                                                    
                                                </div>





                                                
                                            </div>
                                            <div class="form-group row">

                                                <div class="col-md-4">
                                                    <label class="form-control-label">Password <span class="required">*</span></label>
                                                    
                                                        <input class="form-control" ng-init="''" value="''" type="password" ng-model="Employee.Password" name="txtPassword" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                        <div ng-show="fmUpdtEmployee.$submitted || fmUpdtEmployee.txtPassword.$touched">
                                                            <span class="text-danger" ng-show="fmUpdtEmployee.txtPassword.$error.required">Please enter password</span>
                                                        </div>
                                                   
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="form-control-label">Email <span class="required">*</span></label>
                                                    
                                                        <input class="form-control" type="email" ng-model="Employee.Email" name="txtEmail" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                        <div ng-show="fmUpdtEmployee.$submitted || fmUpdtEmployee.txtEmail.$touched">
                                                            <span class="text-danger" ng-show="fmUpdtEmployee.txtEmail.$error.required">Please enter email.</span>
                                                            <span class="text-danger" ng-show="fmUpdtEmployeev.txtEmail.$error.email">Please enter valid email.</span>
                                                        </div>
                                                   
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="form-control-label">Phone <span class="required">*</span></label>
                                                    
                                                        <input class="form-control" ng-pattern="/^[0-9]+([.][0-9]+)?$/" type="text" ng-model="Employee.Phone" name="txtPhone" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                        <div ng-show="fmUpdtEmployee.$submitted || fmUpdtEmployee.txtPhone.$touched">
                                                            <span class="text-danger" ng-show="fmUpdtEmployee.txtPhone.$error.required">Please enter phone number</span>
                                                            <span class="text-danger" ng-show="fmUpdtEmployee.txtPhone.$error.pattern">Please enter valid phone number</span>
                                                       
                                                    </div>
                                                </div>


                                                
                                            </div>
                                            <div class="form-group row">

                                                <div class="col-md-4">
                                                    <label class="form-control-label">Employee No <span class="required">*</span></label>
                                                    
                                                        <input class="form-control" type="text" ng-model="Employee.EmployeeNo" name="txtEmployeNo" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                        <div ng-show="fmUpdtEmployee.$submitted || fmUpdtEmployee.txtEmployeNo.$touched">
                                                            <span class="text-danger" ng-show="fmUpdtEmployee.txtEmployeNo.$error.required">Please enter employee number</span>
                                                        </div>
                                                   
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="form-control-label">Designation <span class="required">*</span></label>
                                                    
                                                        <input class="form-control" type="text" ng-model="Employee.Designation" name="txtDesignation" ng-class="submitted?'ng-dirty':''" autofocus required />
                                                        <div ng-show="fmUpdtEmployee.$submitted || fmUpdtEmployee.txtDesignation.$touched">
                                                            <span class="text-danger" ng-show="fmUpdtEmployee.txtDesignation.$error.required">Please enter designation</span>
                                                        </div>
                                                   
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="form-control-label">Shift Timing <span class="required">*</span></label>
                                                    
                                                        <select name="cmboEmployeeTiming" ng-model="Employee.ShiftTiming" class="form-control" ng-class="submitted?'ng-dirty':''" autofocus required>
                                                            <option ng-selected="Employee.ShiftTiming" ng-repeat="Time in AllTimingList" value="{{Time.STimingID}}">{{Time.Title}}</option>

                                                        </select>

                                                        <div ng-show="fmUpdtEmployee.$submitted || fmUpdtEmployee.cmboEmployeeTiming.$touched">
                                                            <span class="text-danger" ng-show="fmUpdtEmployee.cmboEmployeeTiming.$error.required">Please select valid timing</span>
                                                        </div>
                                                    
                                                </div>

                                                
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                    <label class="form-control-label">Department</label>
                                                    
                                                        <select name="DepartmentID" ng-model="Employee.DepartmentID" class="form-control" ng-class="submitted?'ng-dirty':''" autofocus required>

                                                            <option ng-selected="{{Dept.DepartmentID==Employee.DepartmentID }}" ng-repeat="Dept in DepartmentList" value="{{Dept.DepartmentID}}">{{Dept.DepartmentName}}</option>
                                                        </select>
                                                        @*<select data-ng-options="Dept.DepartmentName for Dept in DepartmentList" class="form-control" data-ng-model="Employee.DepartmentID"></select>*@
                                                        <div ng-show="fmUpdtEmployee.$submitted || fmUpdtEmployee.cmboEmployeeDepartment.$touched">
                                                            <span class="text-danger" ng-show="fmUpdtEmployee.cmboEmployeeDepartment.$error.required">Please select valid department</span>
                                                        </div>
                                                    
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="form-control-label">Practices</label>
                                                    

                                                        @*<select multiple ng-model="Employee.Practices" class="form-control" ng-options="prac.PracticeID as prac.PracticeName for prac in AllPracticesList track by prac.PracticeID" size="7"></select>*@
                                                        <select ng-model="Employee.Practices" multiple id="AssignPractices" class="form-control ">
                                                            <option ng-repeat="prac in AllPracticesList" value="{{prac.PracticeID}}">{{prac.PracticeName}}</option>
                                                        </select>
                                                    
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="form-control-label">Active</label>
                                                    <br />
                                                        <label class="ks-checkbox-slider ks-on-off ks-warning">
                                                            <input type="checkbox" ng-checked="Employee.IsActive" ng-model="Employee.IsActive" name="chkActive" ng-change="SetStatus(Employee.IsActive)" value="">
                                                            <span class="ks-indicator"></span>
                                                            <span class="ks-on">Yes</span>
                                                            <span class="ks-off">No</span>
                                                        </label>
                                                    
                                                </div>
                                            </div>
                                            

                                            

                                            
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card w-100-t-c">
                                            <div class="card-block">

                                                <div class="ks-items-block">


                                                    <button class="btn btn-info-outline ks-light ks-solid" ng-click="Cancel()">Cancle</button>
                                                    <button ng-disabled="!fmUpdtEmployee.$valid" ng-click="UpdateEmployee(Employee)" type="submit" class="btn btn-success-outline ks-light ks-solid">Update Employee</button>
                                                    <button ng-click="DeleteEmployee(Employee)" type="submit" class="btn btn-danger-outline ks-light ks-solid">Delete Employee</button>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/select2/js/select2.min.js"></script>
    <script>
        var EmployeeID=@ViewBag.EmployeeID;


    </script>
    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/custom-scripts/admin/angular/EmployeeController.js"></script>
    
}
