﻿@using System.Web.Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @WebConfigurationManager.AppSettings["S_SYSName"]</title>

    <style>

        /*.m-t-60 {
            padding-top: 60px;
            
        }*/

        .w-100-t-c {
            width: 100%;
            text-align: center;
        }

        .w-60 {
            margin: 0 auto;
            width: 60%;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/fonts/open-sans/styles.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/tether/css/tether.min.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/jscrollpane/jquery.jscrollpane.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/common.min.css">
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/themes/primary.min.css">
    <!-- END THEME STYLES -->

    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/widgets/panels.min.css">
    <link href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/libs/sweetalert/sweetalert.min.css" rel="stylesheet" />
    <link href="@WebConfigurationManager.AppSettings["Theme"]libs/sweetalert/sweetalert.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body ng-app="PMS" class="ks-navbar-fixed ks-sidebar-empty ks-sidebar-fixed ks-theme-primary ks-page-loading">
    @*start loading header*@
    @Html.Partial("~/Areas/Admin/Views/Shared/Header.cshtml")
    @*end loading header*@
    @*start loading nav*@
    @Html.Partial("~/Areas/Admin/Views/Shared/NavbarHorizontal.cshtml")
    @*end loading nav*@
    <div class="ks-container">
        <div class="ks-column ks-page">
            <div class="ks-header">
                <!-- add "ks-header-with-addon" class if you need an addon -->
                <section class="ks-title">
                    <h3>@ViewBag.Title </h3>
                    <div class="ks-controls">
                        <nav class="breadcrumb ks-default">
                            <a class="breadcrumb-item ks-breadcrumb-icon" href="@Url.Action("dashboard","home", new {Area="admin"})" ">
                                <span class="fa fa-home ks-icon"></span>
                            </a>
                            <span class="breadcrumb-item active" href="#">@ViewBag.Title</span>
                        </nav>
                        <!--<button class="btn btn-primary-outline ks-light ks-header-addon-block-toggle" data-block-toggle=".ks-header-with-addon > .ks-addon">Addon</button>-->
                    </div>
                </section>

            </div>
            <div class="clear"></div>
            <div class="ks-content m-t-60">

                @RenderBody()
            </div>
        </div>
    </div>

    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/jquery/jquery.min.js"></script>
    <!---Start Angular Scripts---->
    @Scripts.Render("~/bundles/angular")
    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/angular-animate.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <!---End Angular Scripts---->
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/responsejs/response.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/loading-overlay/loadingoverlay.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/tether/js/tether.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/jscrollpane/jquery.jscrollpane.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/jscrollpane/jquery.mousewheel.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/flexibility/flexibility.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="@WebConfigurationManager.AppSettings["Theme"]assets/scripts/common.min.js"></script>
    <!-- END THEME LAYOUT SCRIPTS -->

    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/custom-scripts/App.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/sweetalert/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.21.5.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/ng-file-upload-shim.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="//rawgit.com/Foliotek/Croppie/master/croppie.js"></script>
    <script type="text/javascript" src="//rawgit.com/lpsBetty/angular-croppie/master/angular-croppie.js"></script>



    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/notify.js"></script>

    <script type="text/javascript">

        App.controller("NavbarController", function ($scope, $http, $filter) {
            $scope.filter = $filter;
            $scope.notificationscount = 123;
            function receive_notification() {



                var pubnub = new PubNub({
                    subscribeKey: "sub-c-24faa17c-a470-11e8-bb88-163ac01f2f4e",

                });
                pubnub.addListener({
                    message: function (response) {

                        console.log('message came in: ', response)
                        if (response.channel == "Activity") {
                            $.notify(response.message.title, "success");


                            console.log('message came in: ', $scope.notificationscount);
                        }

                        $scope.notificationscount = $scope.notificationscount + 1;
                    }

                });

                pubnub.subscribe({
                    channels: ['Activity']
                });

                // window.location.href = "/productivity/assignments";
            }
            receive_notification();



            $http.get(

                $AdminUrl_S + 'GetAllNotifications'
            ).then(function (response) {
                $scope.NolificationList = response.data;
                console.log(response);
            });
        });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
