﻿@using System.Web.Configuration
<!-- BEGIN HEADER -->
<nav class="navbar ks-navbar" ng-controller="NavbarController">
    <!-- BEGIN HEADER INNER -->
    <!-- BEGIN LOGO -->
    
        <div href="index.html" class="navbar-brand">
            <!-- BEGIN RESPONSIVE SIDEBAR TOGGLER -->
            <a href="#" class="ks-sidebar-toggle"><i class="fa fa-bars" aria-hidden="true"></i></a>
            <a href="#" class="ks-sidebar-mobile-toggle"><i class="fa fa-bars" aria-hidden="true"></i></a>
            <!-- END RESPONSIVE SIDEBAR TOGGLER -->
            <a href="@Url.Action("dashboard", "home", new {Area="admin" })" class="ks-logo">
                @WebConfigurationManager.AppSettings["S_SYSName"]

            </a>
        </div>
    
<!-- END LOGO -->
<!-- BEGIN MENUS -->
    
        <div class="ks-wrapper">
            <nav class="nav navbar-nav">
                <!-- BEGIN NAVBAR MENU -->
                @*<div class="ks-navbar-menu">

                    <a class="nav-item nav-link" href="#">Dashboard</a>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu ks-info" aria-labelledby="Preview">
                            <a class="dropdown-item ks-active" href="#">Dropdown Link 1</a>
                            <a class="dropdown-item" href="#">Dropdown Link 2</a>
                            <a class="dropdown-item" href="#">Dropdown Link 3</a>
                            <div class="dropdown-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    Dropdown
                                </a>
                                <div class="dropdown-menu" aria-labelledby="Preview">
                                    <a class="dropdown-item" href="#">Dropdown Link 1</a>
                                    <a class="dropdown-item" href="#">Dropdown Link 2</a>
                                    <a class="dropdown-item" href="#">Dropdown Link 3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nav-item nav-link ks-btn-action">
                        <a class="btn btn-info" href="#">Create</a>
                    </div>
                </div>*@
                <!-- END NAVBAR MENU -->
                <!-- BEGIN NAVBAR ACTIONS -->
                <div class="ks-navbar-actions">


                    <!-- BEGIN NAVBAR MESSAGES -->
                    <div class="nav-item dropdown ks-messages">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-envelope ks-icon" aria-hidden="true">
                                <span class="badge badge-pill badge-info">3</span>
                            </span>
                            <span class="ks-text">Messages</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Preview">
                            <section class="ks-tabs-actions">
                                <a href="#"><i class="fa fa-plus ks-icon"></i></a>
                                <a href="#"><i class="fa fa-search ks-icon"></i></a>
                            </section>
                            <ul class="nav nav-tabs ks-nav-tabs ks-info" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#" data-toggle="tab" data-target="#ks-navbar-messages-inbox" role="tab">Inbox</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-toggle="tab" data-target="#ks-navbar-messages-sent" role="tab">Sent</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-toggle="tab" data-target="#ks-navbar-messages-archive" role="tab">Archive</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane ks-messages-tab active" id="ks-navbar-messages-inbox" role="tabpanel">
                                    <div class="ks-wrapper ks-scrollable">
                                        <a href="#" class="ks-message">
                                            <div class="ks-avatar ks-online">
                                                <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/avatars/avatar-1.jpg" width="36" height="36">
                                            </div>
                                            <div class="ks-info">
                                                <div class="ks-user-name">Emily Carter</div>
                                                <div class="ks-text">In golf, Danny Willett (pictured) wins the M...</div>
                                                <div class="ks-datetime">1 minute ago</div>
                                            </div>
                                        </a>
                                        <a href="#" class="ks-message">
                                            <div class="ks-avatar ks-online">
                                                <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/avatars/avatar-5.jpg" width="36" height="36">
                                            </div>
                                            <div class="ks-info">
                                                <div class="ks-user-name">Emily Carter</div>
                                                <div class="ks-text">In golf, Danny Willett (pictured) wins the M...</div>
                                                <div class="ks-datetime">1 minute ago</div>
                                            </div>
                                        </a>
                                        <a href="#" class="ks-message">
                                            <div class="ks-avatar ks-offline">
                                                <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/avatars/placeholders/ava-36.png" width="36" height="36">
                                            </div>
                                            <div class="ks-info">
                                                <div class="ks-user-name">Emily Carter</div>
                                                <div class="ks-text">In golf, Danny Willett (pictured) wins the M...</div>
                                                <div class="ks-datetime">1 minute ago</div>
                                            </div>
                                        </a>
                                        <a href="#" class="ks-message">
                                            <div class="ks-avatar ks-offline">
                                                <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/avatars/avatar-4.jpg" width="36" height="36">
                                            </div>
                                            <div class="ks-info">
                                                <div class="ks-user-name">Emily Carter</div>
                                                <div class="ks-text">In golf, Danny Willett (pictured) wins the M...</div>
                                                <div class="ks-datetime">1 minute ago</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="ks-view-all">
                                        <a href="#">View all</a>
                                    </div>
                                </div>
                                <div class="tab-pane ks-empty" id="ks-navbar-messages-sent" role="tabpanel">
                                    There are no messages.
                                </div>
                                <div class="tab-pane ks-empty" id="ks-navbar-messages-archive" role="tabpanel">
                                    There are no messages.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END NAVBAR MESSAGES -->
                    <!-- BEGIN NAVBAR NOTIFICATIONS -->
                    <div class="nav-item dropdown ks-notifications">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-bell ks-icon" aria-hidden="true">
                                <span class="badge badge-pill badge-info">{{notificationscount}}</span>
                            </span>
                            <span class="ks-text">Notifications</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Preview">
                            <ul class="nav nav-tabs ks-nav-tabs ks-info" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#" data-toggle="tab" data-target="#navbar-notifications-all" role="tab">All</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-toggle="tab" data-target="#navbar-notifications-activity" role="tab">Today Activity</a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane ks-notifications-tab active" id="navbar-notifications-all" role="tabpanel">
                                    <div class="ks-wrapper ks-scrollable">
                                        <div ng-repeat="notif in NolificationList track by $index">
                                            <a style="height:120px !important" href="/admin{{notif.Link}}" class="ks-notification">
                                                <div class="ks-avatar">
                                                    <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/avatars/avatar-3.jpg" width="36" height="36">
                                                </div>
                                                <div class="ks-info">
                                                    <div class="ks-user-name"> <span class="ks-description">{{notif.Message}}</span></div>
                                                    <div class="ks-text"><span class="fa fa-file-text-o ks-icon"></span> logo vector doc</div>
                                                    <div class="ks-datetime">
                                                        @*$filter('date')(new Date(notif.Time), 'MM/dd/yyyy H:m:ss')*@
                                                        {{ filter('date')(notif.Time, 'MM/dd/yyyy H:m:ss') }}


                                                    </div>
                                                </div>
                                            </a>
                                        </div>


                                    </div>

                                    <div class="ks-view-all">
                                        <a href="#">Show more</a>
                                    </div>
                                </div>
                                <div class="tab-pane ks-empty" id="navbar-notifications-activity" role="tabpanel">
                                    There are no activities.
                                </div>
                                <div class="tab-pane ks-empty" id="navbar-notifications-comments" role="tabpanel">
                                    There are no comments.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END NAVBAR NOTIFICATIONS -->
                    <!-- BEGIN NAVBAR USER -->
                    <div class="nav-item dropdown ks-user">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="ks-avatar">
                                <img src="@WebConfigurationManager.AppSettings["Theme"]assets/img/avatars/avatar-13.jpg" width="36" height="36">
                            </span>
                            <span class="ks-info">
                                <span class="ks-name">Robert Dean</span>
                                <span class="ks-description">Premium User</span>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Preview">
                            <a class="dropdown-item" href="#">
                                <span class="fa fa-user-circle-o ks-icon"></span>
                                <span>Profile</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                <span class="fa fa-wrench ks-icon" aria-hidden="true"></span>
                                <span>Settings</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                <span class="fa fa-question-circle ks-icon" aria-hidden="true"></span>
                                <span>Help</span>
                            </a>
                            <a class="dropdown-item" href="@Url.Action("logout","auth",new { Area="" })">
                                <span class="fa fa-sign-out ks-icon" aria-hidden="true"></span>
                                <span>Logout</span>
                            </a>
                        </div>
                    </div>
                    <!-- END NAVBAR USER -->
                </div>
                <!-- END NAVBAR ACTIONS -->
            </nav>

            <!-- BEGIN NAVBAR ACTIONS TOGGLER -->
            <nav class="nav navbar-nav ks-navbar-actions-toggle">
                <a class="nav-item nav-link" href="#">
                    <span class="fa fa-ellipsis-h ks-icon ks-open"></span>
                    <span class="fa fa-close ks-icon ks-close"></span>
                </a>
            </nav>
            <!-- END NAVBAR ACTIONS TOGGLER -->
            <!-- BEGIN NAVBAR MENU TOGGLER -->
            @*<nav class="nav navbar-nav ks-navbar-menu-toggle">
                <a class="nav-item nav-link" href="#">
                    <span class="fa fa-th ks-icon ks-open"></span>
                    <span class="fa fa-close ks-icon ks-close"></span>
                </a>
            </nav>*@
            <!-- END NAVBAR MENU TOGGLER -->
        </div>
    
<!-- END MENUS -->
<!-- END HEADER INNER -->
</nav>
<!-- END HEADER -->
