﻿@{
    var currentRequest = Request.Url.AbsolutePath;
}
<!-- BEGIN NAVBAR HORIZONTAL -->
<nav class="navbar ks-navbar ks-custom" ng-controller="NavbarController">
    <!-- BEGIN HEADER INNER -->
  
    <!-- BEGIN MENUS -->
    <div class="ks-wrapper">
        <nav class="nav navbar-nav">
            <!-- BEGIN NAVBAR MENU -->
            <div class="ks-navbar-menu">

                <li class="nav-item">
                    <a class="nav-link @(currentRequest=="/admin/home/dashboard"? "active":"")" href="@Url.Action("dashboard","home",new { Area="admin"})">Home</a>
                </li>
                @*<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Morning Shift</a>
                    <div class="dropdown-menu dropdown">


                        <div class="dropdown-item dropdown">
                            <a class="nav-link dropdown-toggle">
                                Productivity
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Daily Shift Productivity</a>
                                <a class="dropdown-item" href="#">Monthly Shift Prodcutivity</a>

                            </div>
                        </div>


                        <a class="dropdown-item @(currentRequest=="/admin/home/userproductivity"? "active":"")" href="@Url.Action("userproductivity","home")">User Productivity</a>
                        <a class="dropdown-item @(currentRequest=="/admin/home/userproductivity"? "active":"")" href="@Url.Action("userproductivity","home")">Practice Analysis</a>
                        
                    </div>
                </li>*@
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Performance Analysis  </a>
                    <div class="dropdown-menu dropdown">
                        <a class="dropdown-item " href="@Url.Action("departments","details")">Departmental Analysis</a>
                        <a class="dropdown-item " href="@Url.Action("employees","details")">Employee <small>(s)</small>&nbsp; Analysis</a>
                        <a class="dropdown-item " href="@Url.Action("practices","details")">Practice <small>(s)</small>&nbsp; Analysis</a>
                        <div class="dropdown-item dropdown">
                            <a class="nav-link dropdown-toggle">
                                KPI Report
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Daily KPI Report</a>
                                <a class="dropdown-item" href="#">Monthly KPI Report</a>

                            </div>
                        </div>





                        <a class="dropdown-item" href="#">Practice Performance</a>

                    </div>



                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Employees </a>
                    <div class="dropdown-menu dropdown">
                        <a class="dropdown-item @(currentRequest=="/admin/employee/newemployee"? "active":"")" href="@Url.Action("employee","employee")">New Employee</a>
                        <a class="dropdown-item @(currentRequest=="/admin/user/employees"? "active":"")" href="@Url.Action("employees","employee")">Employee's List</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Managers</a>
                    <div class="dropdown-menu dropdown">
                        <a class="dropdown-item @(currentRequest=="/admin/manager/manager"? "active":"")" href="@Url.Action("manager","manager")"> New Manager</a>


                        <a class="dropdown-item @(currentRequest=="/admin/manager/managers"? "active":"")" href="@Url.Action("managers","manager")">Manager's List</a>


                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Practice Management</a>
                    <div class="dropdown-menu dropdown">
                        <a class="dropdown-item @(currentRequest=="/admin/practices/addpractice"? "active":"")" href="@Url.Action("addpractice","practices")">Add New Practice</a>
                        <a class="dropdown-item @(currentRequest=="/admin/practices/manage"? "active":"")" href="@Url.Action("manage","practices")">Manage Practice</a>
                        <a class="dropdown-item @(currentRequest=="/admin/practices/forcast"? "active":"")" href="@Url.Action("forcast","practices")">Practice Forcast</a>


                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Department Management</a>
                    <div class="dropdown-menu dropdown">
                        <a class="dropdown-item @(currentRequest=="/admin/practices/addpractice"? "active":"")" href="@Url.Action("department","department")">New Department</a>
                        <a class="dropdown-item @(currentRequest=="/admin/practices/manage"? "active":"")" href="@Url.Action("departments","department")">Department List</a>



                    </div>
                </li>









            </div>
            <!-- END NAVBAR MENU -->
        
        </nav>

        <!-- BEGIN NAVBAR MENU TOGGLER -->
        <nav class="nav navbar-nav ks-navbar-menu-toggle">
            <a class="nav-item nav-link" href="#">
                <span class="fa fa-th ks-icon ks-open"></span>
                <span class="fa fa-close ks-icon ks-close"></span>
            </a>
        </nav>
        <!-- END NAVBAR MENU TOGGLER -->
    </div>
    <!-- END MENUS -->
    <!-- END HEADER INNER -->
</nav>














@*<div class="ks-navbar-horizontal ks-info">
   
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link @(currentRequest=="/admin/home/dashboard"? "active":"")" href="@Url.Action("dashboard","home",new { Area="admin"})">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Morning Shift</a>
            <div class="dropdown-menu dropdown">
                <a class="dropdown-item" href="#">Productivity</a>
                <a class="dropdown-item @(currentRequest=="/admin/home/userproductivity"? "active":"")" href="@Url.Action("userproductivity","home")">User Productivity</a>
                <a class="dropdown-item" href="#">Practice Analysis</a>
                <div class="dropdown-item dropdown">
                    <a class="nav-link dropdown-toggle">
                        Dropdown
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Dropdown Link 1</a>
                        <a class="dropdown-item" href="#">Dropdown Link 2</a>
                        <a class="dropdown-item" href="#">Dropdown Link 3</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Evening Shift</a>
            <div class="dropdown-menu dropdown">
                <a class="dropdown-item @(currentRequest=="/admin/home/userproductivity"? "active":"")" href="@Url.Action("userproductivity","home")">Productivity</a>
                <a class="dropdown-item" href="#">KIP Report</a>
                <a class="dropdown-item" href="#">Financial Analysis</a>
                <a class="dropdown-item" href="#">Aging Analysis</a>
                <a class="dropdown-item" href="#">Practice Performance</a>
                <a class="dropdown-item" href="#">User Activity</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Employees </a>
            <div class="dropdown-menu dropdown">
                <a class="dropdown-item @(currentRequest=="/admin/employee/newemployee"? "active":"")" href="@Url.Action("employee","employee")">New Employee</a>
                <a class="dropdown-item @(currentRequest=="/admin/user/employees"? "active":"")" href="@Url.Action("employees","employee")">Employee's List</a>

            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Managers</a>
            <div class="dropdown-menu dropdown">
                <a class="dropdown-item @(currentRequest=="/admin/manager/manager"? "active":"")" href="@Url.Action("manager","manager")"> New Manager</a>


                <a class="dropdown-item @(currentRequest=="/admin/manager/managers"? "active":"")" href="@Url.Action("managers","manager")">Manager's List</a>


            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Practice Management</a>
            <div class="dropdown-menu dropdown">
                <a class="dropdown-item @(currentRequest=="/admin/practices/addpractice"? "active":"")" href="@Url.Action("addpractice","practices")">Add New Practice</a>
                <a class="dropdown-item @(currentRequest=="/admin/practices/manage"? "active":"")" href="@Url.Action("manage","practices")">Manage Practice</a>
                <a class="dropdown-item @(currentRequest=="/admin/practices/forcast"? "active":"")" href="@Url.Action("forcast","practices")">Practice Forcast</a>


            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Department Management</a>
            <div class="dropdown-menu dropdown">
                <a class="dropdown-item @(currentRequest=="/admin/practices/addpractice"? "active":"")" href="@Url.Action("department","department")">New Department</a>
                <a class="dropdown-item @(currentRequest=="/admin/practices/manage"? "active":"")" href="@Url.Action("departments","department")">Department List</a>



            </div>
        </li>
    
        <li class="nav-item dropdown ks-navbar-horizontal-responsive">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="la la-bars ks-icon"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right"></div>
        </li>
    </ul>
</div>*@
<!-- END NAVBAR HORIZONTAL -->
