﻿

@{
    ViewBag.Title = "Employees";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using System.Web.Configuration

@section styles{
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/apps/messenger.min.css"> <!-- Customization -->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/flatpickr/flatpickr.min.css"> <!-- Original -->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/select2/css/select2.min.css"> <!-- Original -->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/libs/select2/select2.min.css"> <!-- Customization -->


    <style>
        .underline {
            border-bottom: solid rebeccapurple 2px;
        }

        .total-amount {
            color: white !important;
            font-size: 16px !important;
            font-weight: bolder !important;
            font-family: monospace !important;
        }
    </style>
}
<div class="ks-body" ng-controller="EmployeePerformance">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card panel panel-default color-cyan">

                    <div class="card-block">
                        <div class="row">

                            <div class="col-md-4">
                                <select ng-change="GetEmployeeAssignmentData(Filter)" ng-model="Filter.Employee" ng-options="Employee as Employee.UserName for Employee in EmployeeList track by Employee.EmployeeID " class="form-control ks-select"></select>
                            </div>
                            <div class="col-md-4">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-secondary ">
                                        <input name="options" id="option1" autocomplete="off" ng-model="Filter.AssType" value="3" type="radio"> Yearly
                                    </label>
                                    <label class="btn btn-info">
                                        <input name="options" id="option2" autocomplete="off" ng-model="Filter.AssType" value="2" type="radio"> Monthly
                                    </label>
                                    <label class="btn btn-success ">
                                        <input name="options" id="option3" autocomplete="off" ng-model="Filter.AssType" value="1" checked type="radio"> Daily
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4"> <button class="btn btn-persian-green" ng-click="ApplyFilters()">Apply Filters</button></div>









                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">


        <div class="row">
            <div class="col-lg-9">

                <div class="ks-body custom-tabs">
                    <div class="ks-items">

                        <div class="ks-tabs-container ks-tabs-default ks-tabs-no-separator">

                            <ul class="nav ks-nav-tabs ks-tabs-page-default">
                                <li class="nav-item">
                                    <a class="nav-link active" ng-click="GetEmployeeAssignmetnData()" href="#" data-toggle="tab" data-target="#assignments">
                                        Claims Count

                                    </a>
                                </li>

                                <li class="nav-item" ng-show="Filter.Employee.DepartmentID != 1 && Filter.Employee.DepartmentID !=2 && Filter.Employee.DepartmentID !=6 && Filter.Employee.DepartmentID !=8 ">
                                    <a class="nav-link" ng-click="GetEmployeeFinancialsData()" href="#" data-toggle="tab" data-target="#financials">
                                        Financials

                                    </a>
                                </li>
                                <li class="nav-item" ng-if="Filter.Employee.DepartmentID != 1 && Filter.Employee.DepartmentID !=2 && Filter.Employee.DepartmentID !=6 && Filter.Employee.DepartmentID !=7 && Filter.Employee.DepartmentID !=9 && Filter.Employee.DepartmentID !=8">
                                    <a class="nav-link" ng-click="GetEmployeeAgingsData()" href="#" data-toggle="tab" data-target="#agings">
                                        Agings

                                    </a>
                                </li>


                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" aria-expanded="true" id="assignments" role="tabpanel">
                                    <div ng-switch="Filter.Employee.DepartmentID">
                                        <div ng-switch-when="1" >
                                            <div class="card panel panel-default panel-table">

                                                <div class="card-block">

                                                    <table class="table table-hover stacktable large-only">
                                                        <thead>
                                                            <tr></tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th>Credentialing Calls</th>
                                                                <td>{{DetailList.CredentialingCalls}}</td>
                                                                <th>Credentialing Documents</th>
                                                                <td>{{DetailList.CredentialingDocuments}}</td>
                                                                <th>EDI Calls</th>
                                                                <td>{{DetailList.EDICalls}}</td>



                                                            </tr>
                                                            <tr>
                                                                <th>EDI Setup</th>
                                                                <td>{{DetailList.EDISetup}}</td>
                                                                <th>ERA Calls</th>
                                                                <td>{{DetailList.ERASetup}}</td>

                                                                <th>ERA Setup</th>
                                                                <td>{{DetailList.ERACalls}}</td>



                                                            </tr>
                                                            <tr>
                                                                <th>EFT Calls</th>
                                                                <td>{{DetailList.EFTCalls}}</td>
                                                                <th>EFT Setup</th>
                                                                <td>{{DetailList.EFTSetup}}</td>

                                                                <th>Web Logins</th>
                                                                <td>{{DetailList.WebLogins}}</td>



                                                            </tr>
                                                            <tr>
                                                                <th>Enrollment Tracking Sheet</th>
                                                                <td>{{DetailList.EnrollmentTrackingSheet}}</td>
                                                                <th>Emails</th>
                                                                <td>{{DetailList.Emails}}</td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>

                                                            <tr style=" background: #22a7f0;">
                                                                <td colspan="2" class="text-center total-amount">Total</td>
                                                                <td colspan="4" class="text-center total-amount"> {{ DetailList.CredentialingCalls -- DetailList.CredentialingDocuments -- DetailList.EDICalls -- DetailList.EDISetup -- DetailList.ERACalls -- DetailList.ERASetup -- DetailList.EFTCalls -- DetailList.EFTSetup -- DetailList.WebLogins -- DetailList.EnrollmentTrackingSheet -- DetailList.Emails }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-switch-when="2">
                                            <div class="card-block">

                                                <table class="table table-hover stacktable large-only">
                                                    <thead>
                                                        <tr></tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th>In-Coming Patient Calls</th>
                                                            <td>{{DetailList.ICPC}}</td>

                                                            <th>Out Going Patient Calls</th>
                                                            <td>{{DetailList.OGPC}}</td>

                                                            <th>In-Coming Insurance Calls</th>
                                                            <td>{{DetailList.ICIC}}</td>

                                                        </tr>
                                                        <tr>
                                                            <th>Out Going Insurance Calls</th>
                                                            <td>{{DetailList.OGIC}}</td>

                                                            <th>Patient Correspondence</th>
                                                            <td>{{DetailList.PC}}</td>

                                                            <th>Insurance Correspondence	 </th>
                                                            <td>{{DetailList.IC}}</td>

                                                        </tr>
                                                        <tr>
                                                            <th>Itemized Statements	</th>
                                                            <td>{{DetailList.IS}}</td>

                                                            <th>Patient Statements	</th>
                                                            <td>{{DetailList.PS}}</td>

                                                            <th>Emails</th>
                                                            <td>{{DetailList.Emails}}</td>

                                                        </tr>
                                                        <tr>
                                                            <th>Left Voice Msgs	</th>
                                                            <td>{{DetailList.LVM}}</td>

                                                            <th>Answered Voice Msgs	</th>
                                                            <td>{{DetailList.AVM}}</td>

                                                            <th>Pendings</th>
                                                            <td>{{DetailList.Pendings}}</td>

                                                        </tr>


                                                        <tr style=" background: #22a7f0;">
                                                            <td colspan="2" class="text-center total-amount">Total</td>
                                                            <td colspan="4" class="text-center total-amount">
                                                                {{ DetailList.ICPC -- DetailList.OGPC -- DetailList.ICIC --  DetailList.OGIC -- DetailList.PC -- DetailList.IC -- DetailList.IS -- DetailList.PS -- DetailList.Emails -- DetailList.LVM -- DetailList.AVM -- DetailList.Pendings  }}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div ng-switch-when="3">
                                            <div class="card panel panel-default panel-table">

                                                <div class="card-block">

                                                    <table class="table table-hover stacktable large-only">
                                                        <thead>
                                                            <tr></tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th>Entered Claims (Nexel/MA)</th>
                                                                <td>{{DetailList.EnteredClaims}}</td>

                                                                <th>Eligibility</th>
                                                                <td>{{DetailList.Eligibility}}</td>

                                                                <th>eBridge/Practice Fusion (No of Files)</th>
                                                                <td>{{DetailList.PF_eBridge}}</td>

                                                            </tr>
                                                            <tr>
                                                                <th>Rejections (Emdeon)</th>
                                                                <td>{{DetailList.RejectionsEmdeon}}</td>

                                                                <th>Rejections (Availity)</th>
                                                                <td>{{DetailList.RejectionsAvaility}}</td>

                                                                <th>ERA Denials</th>
                                                                <td>{{DetailList.ERADenials}}</td>

                                                            </tr>
                                                            <tr>
                                                                <th>ERA Unmatched</th>
                                                                <td>{{DetailList.ERAUnmatched}}</td>

                                                                <th>Appeals</th>
                                                                <td>{{DetailList.Appeals}}</td>

                                                                <th>Calls</th>
                                                                <td>{{DetailList.Calls}}</td>

                                                            </tr>
                                                            <tr>
                                                                <th>Aging Claims</th>
                                                                <td>{{DetailList.AgingClaims}}</td>

                                                                <th>Email</th>
                                                                <td>{{DetailList.Emails}}</td>

                                                                <th>PT Statements</th>
                                                                <td>{{DetailList.PTStatements}}</td>

                                                            </tr>
                                                            <tr>
                                                                <th>EOB payment (By Fax)</th>
                                                                <td>{{DetailList.EOBpayment}}</td>

                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr style=" background: #22a7f0;">
                                                                <td colspan="2" class="text-center total-amount">Total</td>
                                                                <td colspan="4" class="text-center total-amount">
                                                                    {{ DetailList.EnteredClaims -- DetailList.Eligibility -- DetailList.PF_eBridge --  DetailList.RejectionsEmdeon -- DetailList.RejectionsAvaility -- DetailList.ERADenials -- DetailList.ERAUnmatched -- DetailList.Appeals -- DetailList.Calls -- DetailList.Emails -- DetailList.PTStatements -- DetailList.EOBpayment -- DetailList.AgingClaims }}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-switch-when="4">
                                            <div class="card panel panel-default panel-table">

                                                <div class="card-block">

                                                    <table class="table table-hover stacktable large-only">
                                                        <thead>
                                                            <tr></tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr>
                                                                <th>eBridge/Practice Fusion (No of Files)</th>
                                                                <td>{{DetailList.PF_eBridge}}</td>

                                                                <th>Rejections</th>
                                                                <td>{{DetailList.Rejections}}</td>

                                                                <th>ERA Denials</th>
                                                                <td>{{DetailList.ERADenials}}</td>

                                                            </tr>
                                                            <tr>
                                                                <th>ERA Unmatched</th>
                                                                <td>{{DetailList.ERAUnmatched}}</td>

                                                                <th>PTL Responses</th>
                                                                <td>{{DetailList.PTLResponses }}</td>

                                                                <th>Appeals</th>
                                                                <td>{{DetailList.Appeals}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Aging Claims</th>
                                                                <td>{{DetailList.AgingClaims}}</td>

                                                                <th>Email</th>
                                                                <td>{{DetailList.Emails}}</td>

                                                                <th>PT Statements</th>
                                                                <td>{{DetailList.PTStatements}}</td>

                                                            </tr>
                                                            <tr>
                                                                <th>Calls</th>
                                                                <td>{{DetailList.Calls}}</td>

                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr style=" background: #22a7f0;">
                                                                <td colspan="2" class="text-center total-amount">Total</td>
                                                                <td colspan="4" class="text-center total-amount">
                                                                    {{ DetailList.PF_eBridge -- DetailList.Rejections -- DetailList.ERADenials -- DetailList.ERAUnmatched -- DetailList.PTLResponses -- DetailList.Appeals -- DetailList.Calls -- DetailList.AgingClaims -- DetailList.Emails -- DetailList.PTStatements }}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-switch-when="5">
                                            <div class="card panel panel-default panel-table">

                                                <div class="card-block">

                                                    <table class="table table-hover stacktable large-only">
                                                        <thead>
                                                            <tr></tr>
                                                        </thead>
                                                        <tbody>


                                                            <tr>
                                                                <th>Appeals</th>
                                                                <td>{{DetailList.Appeals}}</td>

                                                                <th>Calls</th>
                                                                <td>{{DetailList.Calls}}</td>

                                                                <th>Aging Claims</th>
                                                                <td>{{DetailList.AgingClaims}}</td>
                                                            </tr>

                                                            <tr>


                                                                <th>Email</th>
                                                                <td>{{DetailList.Emails}}</td>
                                                                <th>Others</th>
                                                                <td>{{DetailList.Others}}</td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr style=" background: #22a7f0;">
                                                                <td colspan="2" class="text-center total-amount">Total</td>
                                                                <td colspan="4" class="text-center total-amount">
                                                                    {{DetailList.Appeals -- DetailList.Calls -- DetailList.AgingClaims -- DetailList.Emails -- DetailList.Others}}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-switch-when="6">
                                            <div class="card panel panel-default panel-table">

                                                <div class="card-block">

                                                    <table class="table table-hover stacktable large-only">
                                                        <thead>
                                                            <tr></tr>
                                                        </thead>
                                                        <tbody>


                                                            <tr>
                                                                <th>Calls</th>
                                                                <td>{{DetailList.Calls}}</td>

                                                                <th>Web Verification</th>
                                                                <td>{{DetailList.WebVerification}}</td>

                                                                <th>Faxed Verification</th>
                                                                <td>{{DetailList.FaxedVerification}}</td>
                                                            </tr>

                                                            <tr>


                                                                <th>Email Verificaiton</th>
                                                                <td>{{DetailList.EmailVerification}}</td>
                                                                <th>Others</th>
                                                                <td>{{DetailList.Others}}</td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr style=" background: #22a7f0;">
                                                                <td colspan="2" class="text-center total-amount">Total</td>
                                                                <td colspan="4" class="text-center total-amount">
                                                                    {{DetailList.Calls -- DetailList.WebVerification -- DetailList.FaxedVerification -- DetailList.EmailVerification -- DetailList.Others }}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-switch-when="7">
                                            <div class="card panel panel-default panel-table">

                                                <div class="card-block">

                                                    <table class="table table-hover stacktable large-only">
                                                        <thead>
                                                            <tr></tr>
                                                        </thead>
                                                        <tbody>


                                                            <tr>
                                                                <th>
                                                                    Eligibility Claims
                                                                </th>
                                                                <td>{{DetailList.Eligibility}}</td>

                                                                <th>Received Bills </th>
                                                                <td>{{DetailList.ReceivedBills}}</td>

                                                                <th>Entered Claims</th>
                                                                <td>{{DetailList.EnteredClaims}}</td>
                                                            </tr>

                                                            <tr>


                                                                <th>Pending Claims</th>
                                                                <td>{{DetailList.PendingClaims}}</td>
                                                                <th>Paid Claims</th>
                                                                <td>{{DetailList.PaidClaims}}</td>
                                                                <th>Prepared Claims</th>
                                                                <td>{{DetailList.Eligibility}}</td>
                                                            </tr>

                                                            <tr>
                                                                <th>
                                                                    Prepared Encounters
                                                                </th>
                                                                <td>{{DetailList.PreparedEncounters}}</td>

                                                                <th>Missing Log</th>
                                                                <td>{{DetailList.MissingLog}}</td>

                                                                <th>Emails</th>
                                                                <td>{{DetailList.Emails}}</td>
                                                            </tr>

                                                            <tr>


                                                                <th> QA</th>
                                                                <td>{{DetailList.QA}}</td>
                                                                <th>Billing Analysis</th>
                                                                <td>{{DetailList.BillingAnalysis}}</td>
                                                                <td> </td>
                                                                <td> </td>
                                                            </tr>
                                                            <tr style=" background: #22a7f0;">
                                                                <td colspan="2" class="text-center total-amount">Total</td>
                                                                <td colspan="4" class="text-center total-amount">
                                                                    {{DetailList.Eligibility -- DetailList.ReceivedBills -- DetailList.EnteredClaims  -- DetailList.PendingClaims --DetailList.PaidClaims --DetailList.Eligibility --DetailList.PreparedEncounters --DetailList.MissingLog --DetailList.Emails --DetailList.QA   --DetailList.BillingAnalysis }}

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-switch-when="8">
                                            <div class="card panel panel-default panel-table">
                                                <div class="card-block">

                                                    <table class="table table-hover stacktable large-only">
                                                        <thead>
                                                            <tr></tr>
                                                        </thead>
                                                        <tbody>


                                                            <tr>
                                                                <th>
                                                                    Multiple
                                                                </th>
                                                                <td>{{DetailList.Multiple }}</td>

                                                                <th>Received Bills </th>
                                                                <td>{{DetailList.NoPatientBill }}</td>

                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>

                                                            <tr style=" background: #22a7f0;">
                                                                <td colspan="2" class="text-center total-amount">Total</td>
                                                                <td colspan="4" class="text-center total-amount">
                                                                    {{DetailList.Multiple -- DetailList.NoPatientBill }}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="card panel panel-default panel-table">
                                                <div class="card-block">
                                                    <div class="card-header text-center">Patient Statements (Un-Verified)</div>
                                                    <table class="table table-hover stacktable large-only">
                                                        <thead>
                                                            <tr></tr>
                                                        </thead>
                                                        <tbody>


                                                            <tr>
                                                                <th>
                                                                    Total # of Claim
                                                                </th>
                                                                <td>{{DetailList.UVTotalClaims  }}</td>

                                                                <th>Done </th>
                                                                <td>{{DetailList.Done  }}</td>
                                                                <th>Done </th>
                                                                <td>{{DetailList.PendingClaims  }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>

                                                            <tr style=" background: #22a7f0;">
                                                                <td colspan="2" class="text-center total-amount">Total</td>
                                                                <td colspan="4" class="text-center total-amount">
                                                                    {{DetailList.Multiple -- DetailList.NoPatientBill }}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-switch-when="9">
                                            <div class="card panel panel-default panel-table">

                                                <div class="card-block">

                                                    <table class="table table-hover stacktable large-only">
                                                        <thead>
                                                            <tr></tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr>
                                                                <th>eBridge/Practice Fusion (0)</th>
                                                                <td>{{DetailList.PF_eBridge}}</td>

                                                                <th>Rejections</th>
                                                                <td>{{DetailList.Rejections}}</td>

                                                                <th>ERA Denials</th>
                                                                <td>{{DetailList.ERADenials}}</td>

                                                            </tr>
                                                            <tr>
                                                                <th>ERA Unmatched</th>
                                                                <td>{{DetailList.ERAUnmatched}}</td>

                                                                <th>Appeals</th>
                                                                <td>{{DetailList.Appeals}}</td>

                                                                <th>Manually Adjustments Pri/Sec</th>
                                                                <td>{{DetailList.ManuallyAdjustments}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Aging Claims</th>
                                                                <td>{{DetailList.AgingClaims}}</td>

                                                                <th>Billing(ETC)</th>
                                                                <td>{{DetailList.BillingETC }}</td>

                                                                <th>Emails</th>
                                                                <td>{{DetailList.Emails}}</td>

                                                            </tr>
                                                            <tr>
                                                                <th>PT Statements</th>
                                                                <td>{{DetailList.PTStatements}}</td>

                                                                <th>Verification Claim</th>
                                                                <td>{{DetailList.VerificationClaims }}</td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr style=" background: #22a7f0;">
                                                                <td colspan="2" class="text-center total-amount">Total</td>
                                                                <td colspan="4" class="text-center total-amount">
                                                                    {{ DetailList.PF_eBridge -- DetailList.Rejections -- DetailList.ERADenials -- DetailList.ERAUnmatched -- DetailList.Appeals -- DetailList.ManuallyAdjustments -- DetailList.AgingClaims -- DetailList.BillingETC -- DetailList.Emails -- DetailList.PTStatements -- DetailList.VerificationClaims }}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-switch-default>


                                        </div>
                                    </div>


                                </div>
                                <div class="tab-pane" id="financials" role="tabpanel">



                                    <div ng-switch="Filter.Employee.DepartmentID">
                                        <div ng-switch-when="3">

                                            <div class="card panel panel-default panel-table">

                                                <div class="card-block">

                                                    <table class="table table-hover stacktable large-only">
                                                        <thead>
                                                            <tr></tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr>
                                                                <th>Daily Charges (ECW)</th>
                                                                <td>{{FinancialsDetailList.DailyChargesECW}}</td>

                                                                <th>Daily Payments (eTeClinic)</th>
                                                                <td>{{FinancialsDetailList.DailyPaymentseTeClinic}}</td>



                                                            </tr>
                                                            <tr>
                                                                <th>Daily Payments (ECW)</th>
                                                                <td>{{FinancialsDetailList.DailyPaymentsECW}}</td>
                                                                <th>MTD Charges</th>
                                                                <td>{{FinancialsDetailList.MTDCharges}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>MTD Payments (eTeClinic)</th>
                                                                <td>{{FinancialsDetailList.MTDPaymentseTeClinic}}</td>

                                                                <th>MTD Payments (ECW)</th>
                                                                <td>{{FinancialsDetailList.MTDPaymentsECW}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>30 + Aging Amount (eTeClinic)</th>
                                                                <td>{{FinancialsDetailList.AgingAmounteTeClinic}}</td>

                                                                <th>30+Aging Amount (eCW)</th>
                                                                <td>{{FinancialsDetailList.AgingAmounteCW }}</td>



                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-switch-when="4">

                                            <div class="card panel panel-default panel-table">

                                                <div class="card-block">

                                                    <table class="table table-hover stacktable large-only">
                                                        <thead>
                                                            <tr></tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr>
                                                                <th>Daily Charges</th>
                                                                <td>{{FinancialsDetailList.DailyCharges}}</td>

                                                                <th>Daily Payments</th>
                                                                <td>{{FinancialsDetailList.DailyPayments}}</td>
                                                            </tr>

                                                            <tr>
                                                                <th>MTD Charges </th>
                                                                <td>{{FinancialsDetailList.MTDCharges}}</td>

                                                                <th>MTD Payments </th>
                                                                <td>{{FinancialsDetailList.MTDPayments}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>30 + Aging Amount</th>
                                                                <td>{{FinancialsDetailList.AgingAmount}}</td>

                                                                <th></th>
                                                                <td></td>



                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-switch-when="5">

                                            <div class="card panel panel-default panel-table">

                                                <div class="card-block">

                                                    <table class="table table-hover stacktable large-only">
                                                        <thead>
                                                            <tr></tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr>
                                                                <th>Daily Charges</th>
                                                                <td>{{FinancialsDetailList.DailyCharges}}</td>

                                                                <th>Daily Payments</th>
                                                                <td>{{FinancialsDetailList.DailyPayments}}</td>
                                                            </tr>

                                                            <tr>
                                                                <th>MTD Charges </th>
                                                                <td>{{FinancialsDetailList.MTDCharges}}</td>

                                                                <th>MTD Payments </th>
                                                                <td>{{FinancialsDetailList.MTDPayments}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>30 + Aging Amount</th>
                                                                <td>{{FinancialsDetailList.AgingAmount}}</td>

                                                                <th></th>
                                                                <td></td>



                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-switch-when="7">
                                            <div class="card panel panel-default panel-table">

                                                <div class="card-block">

                                                    <table class="table table-hover stacktable large-only">
                                                        <thead>
                                                            <tr></tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr>
                                                                <th>Entered Charge( Institutional)</th>
                                                                <td>{{FinancialsDetailList.DailyCharges}}</td>

                                                                <th>Entered Charge( Professional)</th>
                                                                <td>{{FinancialsDetailList.DailyPayments}}</td>
                                                            </tr>







                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-switch-when="9">
                                            <div class="card panel panel-default panel-table">

                                                <div class="card-block">

                                                    <table class="table table-hover stacktable large-only">
                                                        <thead>
                                                            <tr></tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr>
                                                                <th>eBridge/Practice Fusion (0)</th>
                                                                <td>{{FinancialsDetailList.PF_eBridge}}</td>

                                                                <th>Rejections</th>
                                                                <td>{{FinancialsDetailList.Rejections}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>ERA Denials</th>
                                                                <td>{{FinancialsDetailList.ERADenials}}</td>


                                                                <th>ERA Unmatched</th>
                                                                <td>{{FinancialsDetailList.ERAUnmatched}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Appeals</th>
                                                                <td>{{FinancialsDetailList.Appeals}}</td>

                                                                <th>Manually Adjustments Pri/Sec</th>
                                                                <td>{{FinancialsDetailList.ManuallyAdjustments}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Aging Claims</th>
                                                                <td>{{FinancialsDetailList.AgingClaims}}</td>

                                                                <th>Billing(ETC)</th>
                                                                <td>{{FinancialsDetailList.BillingETC }}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Emails</th>
                                                                <td>{{FinancialsDetailList.Emails}}</td>


                                                                <th>PT Statements</th>
                                                                <td>{{FinancialsDetailList.PTStatements}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Verification Claim</th>
                                                                <td>{{FinancialsDetailList.VerificationClaims }}</td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-switch-default>


                                        </div>
                                    </div>


                                </div>
                                <div class="tab-pane" id="agings" role="tabpanel">
                                    <div ng-switch="Filter.Employee.DepartmentID">
                                        <div ng-switch-when="3">

                                            <div class="card panel panel-default panel-table">

                                                <div class="card-block">

                                                    <table class="table table-hover stacktable large-only">
                                                        <thead>
                                                            <tr></tr>
                                                        </thead>
                                                        <tbody>


                                                            <tr>
                                                                <th>
                                                                    0-30
                                                                </th>
                                                                <td>{{AgingDetailList.A_30}}</td>

                                                                <th>31-60 </th>
                                                                <td>{{AgingDetailList.A_60}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>61-90</th>
                                                                <td>{{AgingDetailList.A_90}}</td>

                                                                <th>
                                                                    91-120
                                                                </th>

                                                                <td>{{AgingDetailList.A_120}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>120 +</th>
                                                                <td>{{AgingDetailList.A_120_up}}</td>

                                                                <th>Total</th>
                                                                <td> {{ AgingDetailList.A_30 -- AgingDetailList.A_60 -- AgingDetailList.A_90 -- AgingDetailList.A_120 -- AgingDetailList.A_120_up }} $</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Issues of 120+ Claims</th>
                                                                <td>{{AgingDetailList.Issues_Of_120_Up_Claims }}</td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>


                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                        <div ng-switch-when="4">
                                            <div class="card panel panel-default panel-table">

                                                <div class="card-block">

                                                    <table class="table table-hover stacktable large-only">
                                                        <thead>
                                                            <tr></tr>
                                                        </thead>
                                                        <tbody>


                                                            <tr>
                                                                <th>
                                                                    0-30
                                                                </th>
                                                                <td>{{AgingDetailList.A_30}}</td>

                                                                <th>31-60 </th>
                                                                <td>{{AgingDetailList.A_60}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>61-90</th>
                                                                <td>{{AgingDetailList.A_90}}</td>

                                                                <th>
                                                                    91-120
                                                                </th>

                                                                <td>{{AgingDetailList.A_120}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>120 +</th>
                                                                <td>{{AgingDetailList.A_120_up}}</td>

                                                                <th>Total</th>
                                                                <td> {{ AgingDetailList.A_30 -- AgingDetailList.A_60 -- AgingDetailList.A_90 -- AgingDetailList.A_120 -- AgingDetailList.A_120_up }} $</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Issues of 120+ Claims</th>
                                                                <td>{{AgingDetailList.Issues_Of_120_Up_Claims }}</td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>


                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-switch-when="5">
                                            <div class="card panel panel-default panel-table">

                                                <div class="card-block">

                                                    <table class="table table-hover stacktable large-only">
                                                        <thead>
                                                            <tr></tr>
                                                        </thead>
                                                        <tbody>


                                                            <tr>
                                                                <th>
                                                                    0-30
                                                                </th>
                                                                <td>{{AgingDetailList.A_30}}</td>

                                                                <th>31-60 </th>
                                                                <td>{{AgingDetailList.A_60}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>61-90</th>
                                                                <td>{{AgingDetailList.A_90}}</td>

                                                                <th>
                                                                    91-120
                                                                </th>

                                                                <td>{{AgingDetailList.A_120}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>120 +</th>
                                                                <td>{{AgingDetailList.A_120_up}}</td>

                                                                <th>Total</th>
                                                                <td> {{ AgingDetailList.A_30 -- AgingDetailList.A_60 -- AgingDetailList.A_90 -- AgingDetailList.A_120 -- AgingDetailList.A_120_up }} $</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Issues of 120+ Claims</th>
                                                                <td>{{AgingDetailList.Issues_Of_120_Up_Claims }}</td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>


                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-lg-3">
                <div class="ks-info pms-info">

                    <div class="ks-body">
                        <div class="ks-calendar-container">

                            <div class="ks-info">
                                <div class="ks-datepicker pms-datepiker">
                                    <div id="filter_datetime" class="flatpickr" data-inline=true></div>
                                </div>


                            </div>
                        </div>



                    </div>

                </div>
            </div>
        </div>


    </div>


</div>



@section scripts{
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/select2/js/select2.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/flatpickr/flatpickr.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/custom-scripts/admin/angular/DetailsViewController.js"></script>

    <script type="application/javascript">

    </script>
}
