﻿@{
    ViewBag.Title = "Practices";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using System.Web.Configuration

@section styles{
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/apps/messenger.min.css"> <!-- Customization -->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/flatpickr/flatpickr.min.css"> <!-- Original -->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]libs/select2/css/select2.min.css"> <!-- Original -->
    <link rel="stylesheet" type="text/css" href="@WebConfigurationManager.AppSettings["Theme"]assets/styles/libs/select2/select2.min.css"> <!-- Customization -->


    <style>
        .underline {
            border-bottom: solid rebeccapurple 2px;
        }

        .total-amount {
            color: white !important;
            font-size: 16px !important;
            font-weight: bolder !important;
            font-family: monospace !important;
        }
    </style>
}
<div class="ks-body" ng-controller="PracticePerformance">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card panel panel-default color-cyan">

                    <div class="card-block">
                        <div class="row">

                            <div class="col-md-4">
                                <select ng-change="" ng-model="Filter.Employee" ng-options="Practice as Practice.PracticeName for Practice in PracticeList track by Employee.PracticeID " class="form-control ks-select"></select>
                            </div>
                            <div class="col-md-4">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-secondary ">
                                        <input name="options" id="option1" autocomplete="off" ng-model="Filter.AssType" value="3" type="radio"> Yearly
                                    </label>
                                    <label class="btn btn-info">
                                        <input name="options" id="option2" autocomplete="off" ng-model="Filter.AssType" value="2" type="radio"> Monthly
                                    </label>
                                    <label class="btn btn-success ">
                                        <input name="options" id="option3" autocomplete="off" ng-model="Filter.AssType" value="1" checked type="radio"> Daily
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4"> <button class="btn btn-persian-green" ng-click="ApplyFilters()">Apply Filters</button></div>









                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">


        <div class="row">
            <div class="col-lg-9">

                <div class="ks-body custom-tabs">
                    <div class="ks-items">

                        <div class="ks-tabs-container ks-tabs-default ks-tabs-no-separator">

                            <ul class="nav ks-nav-tabs ks-tabs-page-default">
                                <li class="nav-item">
                                    <a class="nav-link active"  href="#" data-toggle="tab" data-target="#assignments">
                                        Claims Count

                                    </a>
                                </li>

                                <li class="nav-item" >
                                    <a class="nav-link" ng-click="GetEmployeeFinancialsData()" href="#" data-toggle="tab" data-target="#financials">
                                        Financials

                                    </a>
                                </li>
                                <li class="nav-item" >
                                    <a class="nav-link" ng-click="GetEmployeeAgingsData()" href="#" data-toggle="tab" data-target="#agings">
                                        Agings

                                    </a>
                                </li>


                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" aria-expanded="true" id="assignments" role="tabpanel">
                                    <div>
                                        <div class="card panel panel-default panel-table">

                                            <div class="card-block">

                                                <table class="table table-hover stacktable large-only">
                                                    <thead>
                                                        <tr></tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th>Credentialing Calls</th>
                                                            <td>{{DetailList.CredentialingCalls}}</td>
                                                            <th>Credentialing Documents</th>
                                                            <td>{{DetailList.CredentialingDocuments}}</td>
                                                            <th>EDI Calls</th>
                                                            <td>{{DetailList.EDICalls}}</td>



                                                        </tr>
                                                        <tr>
                                                            <th>EDI Setup</th>
                                                            <td>{{DetailList.EDISetup}}</td>
                                                            <th>ERA Calls</th>
                                                            <td>{{DetailList.ERASetup}}</td>

                                                            <th>ERA Setup</th>
                                                            <td>{{DetailList.ERACalls}}</td>



                                                        </tr>
                                                        <tr>
                                                            <th>EFT Calls</th>
                                                            <td>{{DetailList.EFTCalls}}</td>
                                                            <th>EFT Setup</th>
                                                            <td>{{DetailList.EFTSetup}}</td>

                                                            <th>Web Logins</th>
                                                            <td>{{DetailList.WebLogins}}</td>



                                                        </tr>
                                                        <tr>
                                                            <th>Enrollment Tracking Sheet</th>
                                                            <td>{{DetailList.EnrollmentTrackingSheet}}</td>
                                                            <th>Emails</th>
                                                            <td>{{DetailList.Emails}}</td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>

                                                        <tr style=" background: #22a7f0;">
                                                            <td colspan="2" class="text-center total-amount">Total</td>
                                                            <td colspan="4" class="text-center total-amount"> {{ DetailList.CredentialingCalls -- DetailList.CredentialingDocuments -- DetailList.EDICalls -- DetailList.EDISetup -- DetailList.ERACalls -- DetailList.ERASetup -- DetailList.EFTCalls -- DetailList.EFTSetup -- DetailList.WebLogins -- DetailList.EnrollmentTrackingSheet -- DetailList.Emails }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="tab-pane" id="financials" role="tabpanel">



                                    <div class="card panel panel-default panel-table">

                                        <div class="card-block">

                                            <table class="table table-hover stacktable large-only">
                                                <thead>
                                                    <tr></tr>
                                                </thead>
                                                <tbody>

                                                    <tr>
                                                        <th>Daily Charges</th>
                                                        <td>{{FinancialsDetailList.DailyCharges}}</td>

                                                        <th>Daily Payments</th>
                                                        <td>{{FinancialsDetailList.DailyPayments}}</td>
                                                    </tr>

                                                    <tr>
                                                        <th>MTD Charges </th>
                                                        <td>{{FinancialsDetailList.MTDCharges}}</td>

                                                        <th>MTD Payments </th>
                                                        <td>{{FinancialsDetailList.MTDPayments}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>30 + Aging Amount</th>
                                                        <td>{{FinancialsDetailList.AgingAmount}}</td>

                                                        <th></th>
                                                        <td></td>



                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>
                                <div class="tab-pane" id="agings" role="tabpanel">
                                    <div class="card panel panel-default panel-table">

                                        <div class="card-block">

                                            <table class="table table-hover stacktable large-only">
                                                <thead>
                                                    <tr></tr>
                                                </thead>
                                                <tbody>


                                                    <tr>
                                                        <th>
                                                            0-30
                                                        </th>
                                                        <td>{{AgingDetailList.A_30}}</td>

                                                        <th>31-60 </th>
                                                        <td>{{AgingDetailList.A_60}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>61-90</th>
                                                        <td>{{AgingDetailList.A_90}}</td>

                                                        <th>
                                                            91-120
                                                        </th>

                                                        <td>{{AgingDetailList.A_120}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>120 +</th>
                                                        <td>{{AgingDetailList.A_120_up}}</td>

                                                        <th>Total</th>
                                                        <td> {{ AgingDetailList.A_30 -- AgingDetailList.A_60 -- AgingDetailList.A_90 -- AgingDetailList.A_120 -- AgingDetailList.A_120_up }} $</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Issues of 120+ Claims</th>
                                                        <td>{{AgingDetailList.Issues_Of_120_Up_Claims }}</td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-lg-3">
                <div class="ks-info pms-info">

                    <div class="ks-body">
                        <div class="ks-calendar-container">

                            <div class="ks-info">
                                <div class="ks-datepicker pms-datepiker">
                                    <div id="filter_datetime" class="flatpickr" data-inline=true></div>
                                </div>


                            </div>
                        </div>



                    </div>

                </div>
            </div>
        </div>


    </div>


</div>



@section scripts{
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/select2/js/select2.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Theme"]libs/flatpickr/flatpickr.min.js"></script>
    <script src="@WebConfigurationManager.AppSettings["Url"]Scripts/custom-scripts/admin/angular/DetailsViewController.js"></script>

    <script type="application/javascript">

    </script>
}

