﻿<tr>
    <td width="235" nowrap="" valign="bottom" style="width:176.25pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:15.0pt;border-right: none;"><p class="MsoNormal">{Name}<u></u><u></u></p></td>
    <td width="235" nowrap="" valign="bottom" style="width:176.25pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:15.0pt;border-right: none;"><p class="MsoNormal">{WorkDate}<u></u><u></u></p></td>
    <td width="235" nowrap="" valign="bottom" style="width:176.25pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:15.0pt;border-right: none;"><p class="MsoNormal">{PracticeName}<u></u><u></u></p></td>
    <td width="235" nowrap="" valign="bottom" style="width:176.25pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:15.0pt;border-right: none;"><p class="MsoNormal">{DateofService}<u></u><u></u></p></td>

    <td width="235" nowrap="" valign="bottom" style="width:176.25pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:15.0pt;border-right: none;"><p class="MsoNormal">{ReceivedBills}<u></u><u></u></p></td>
    <td width="235" nowrap="" valign="bottom" style="width:176.25pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:15.0pt;border-right: none;"><p class="MsoNormal">{Eligibility}<u></u><u></u></p></td>
    <td width="235" nowrap="" valign="bottom" style="width:176.25pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:15.0pt;border-right: none;"><p class="MsoNormal">{BillingAnalysis}<u></u><u></u></p></td>

    <td width="235" nowrap="" valign="bottom" style="width:176.25pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:15.0pt;border-right: none;"><p class="MsoNormal">{EnteredClaims}<u></u><u></u></p></td>
    <td width="235" nowrap="" valign="bottom" style="width:176.25pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:15.0pt;border-right: none;"><p class="MsoNormal">{PendingClaims}<u></u><u></u></p></td>
    <td width="235" nowrap="" valign="bottom" style="width:176.25pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:15.0pt;border-right: none;"><p class="MsoNormal">{PaidClaims}<u></u><u></u></p></td>
    <td width="235" nowrap="" valign="bottom" style="width:176.25pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:15.0pt;border-right: none;"><p class="MsoNormal">{PreparedClaims}<u></u><u></u></p></td>
    <td width="235" nowrap="" valign="bottom" style="width:176.25pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:15.0pt;border-right: none;"><p class="MsoNormal">{EnteredChargesP}<u></u><u></u></p></td>
    <td width="235" nowrap="" valign="bottom" style="width:176.25pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:15.0pt;border-right: none;"><p class="MsoNormal">{EnteredChargesI}<u></u><u></u></p></td>
    <td width="235" nowrap="" valign="bottom" style="width:176.25pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:15.0pt;border-right: none;"><p class="MsoNormal">{MissingLog}<u></u><u></u></p></td>
    <td width="235" nowrap="" valign="bottom" style="width:176.25pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:15.0pt;border-right: none;"><p class="MsoNormal">{Emails}<u></u><u></u></p></td>
    <td width="235" nowrap="" valign="bottom" style="width:176.25pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:15.0pt;border-right: none;"><p class="MsoNormal">{QA}<u></u><u></u></p></td>

</tr>